---
http_interactions:
- request:
    method: get
    uri: https://quickbooks.api.intuit.com/v3/company/<REALM>/query?query=select%20*%20from%20PurchaseOrder%20where%20Id%20=%20%27135%27%20STARTPOSITION%201%20MAXRESULTS%2020
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/xml
      Authorization:
      - OAuth oauth_consumer_key="oauth_consumer_key", oauth_nonce="3ziqHqAa4AoWOoJRIgslnvzyKseQdmXH5xki07Vvr0Q",
        oauth_signature="A7595AU3fB89UfBbFbtl3h%2B5iX4%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1564496981", oauth_token="<TOKEN>", oauth_version="1.0"
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - text/xml
      Intuit-Tid:
      - d8a28160-1353-4cd5-8dfc-c61652bd13dc
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
        <IntuitResponse time="2019-07-30T07:29:43.048-07:00" xmlns="http://schema.intuit.com/finance/v3">
            <Fault type="AUTHENTICATION">
                <Error code="3200">
                    <Message>message=ApplicationAuthenticationFailed; errorCode=003200; statusCode=401</Message>
                </Error>
            </Fault>
        </IntuitResponse>
  recorded_at: Tue, 30 Jul 2019 14:29:43 GMT
recorded_with: VCR 4.0.0
