---
http_interactions:
- request:
    method: post
    uri: https://services.intuit.com/sb/paymentmethod/v2/821557985
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="utf-8"?>
        <PaymentMethodQuery xmlns="http://www.intuit.com/sb/cdm/v2"><StartPage>1</StartPage><ChunkSize>20</ChunkSize></PaymentMethodQuery>
    headers:
      Content-Type:
      - text/xml
      Authorization:
      - OAuth oauth_body_hash="XY5WBDZJ%2FiVp7bA4r2bPPbbxfgE%3D", oauth_consumer_key="qyprdcG20NCyjy5jd7tKal9ivdOcbH",
        oauth_nonce="ReAueKX2b3Gs60QH8dtgp4KygcTgyF9d8X6I5aExcU", oauth_signature="rJnNlUUzckBrQqW54ifY%2FDXg82w%3D",
        oauth_signature_method="HMAC-SHA1", oauth_timestamp="1383155286", oauth_token="lvprdL8WCVGmBMQat8mosUW0UMLYwAn9mOTS7OMb6ykMI522",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Headerquerytime:
      - '12'
      Headerdaotime:
      - '12'
      Contextinittime:
      - '7'
      Response-App-Time:
      - '100'
      Response-Id:
      - 7a07499f-ee19-44c7-a171-4bba867d3c0a
      Response-Routing-Time:
      - '140'
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8" standalone="yes"?><RestResponse
        xmlns="http://www.intuit.com/sb/cdm/v2"><PaymentMethods><PaymentMethod><Id
        idDomain="QB">9</Id><SyncToken>1</SyncToken><MetaData><CreateTime>1970-01-01T00:00:00Z</CreateTime><LastUpdatedTime>1970-01-01T00:00:00Z</LastUpdatedTime></MetaData><ExternalKey
        idDomain="QB">9</ExternalKey><Synchronized>true</Synchronized><Name>E-Check</Name><Active>true</Active><Type>Cash</Type></PaymentMethod><PaymentMethod><Id
        idDomain="QB">8</Id><SyncToken>1</SyncToken><MetaData><CreateTime>1970-01-01T00:00:00Z</CreateTime><LastUpdatedTime>1970-01-01T00:00:00Z</LastUpdatedTime></MetaData><ExternalKey
        idDomain="QB">8</ExternalKey><Synchronized>true</Synchronized><Name>Gift Card</Name><Active>true</Active><Type>Cash</Type></PaymentMethod><PaymentMethod><Id
        idDomain="QB">7</Id><SyncToken>1</SyncToken><MetaData><CreateTime>1970-01-01T00:00:00Z</CreateT[...]
- request:
    method: post
    uri: https://services.intuit.com/sb/paymentmethod/v2/821557985
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="utf-8"?>
        <PaymentMethodQuery xmlns="http://www.intuit.com/sb/cdm/v2"><StartPage>2</StartPage><ChunkSize>20</ChunkSize></PaymentMethodQuery>
    headers:
      Content-Type:
      - text/xml
      Authorization:
      - OAuth oauth_body_hash="4tIP8ggxPaXnOyV76bi5AKn%2FfI0%3D", oauth_consumer_key="qyprdcG20NCyjy5jd7tKal9ivdOcbH",
        oauth_nonce="NhobQFISskwS2YSgSsxzgxp0HdJoK2YGaoZClf6FNs", oauth_signature="JyTKzIiH2bZ5jaO%2FWuqsZdFrQFA%3D",
        oauth_signature_method="HMAC-SHA1", oauth_timestamp="1383155287", oauth_token="lvprdL8WCVGmBMQat8mosUW0UMLYwAn9mOTS7OMb6ykMI522",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Headerquerytime:
      - '11'
      Headerdaotime:
      - '12'
      Contextinittime:
      - '7'
      Response-App-Time:
      - '37'
      Response-Id:
      - c275f8bc-d8ea-417e-a42f-497a82064003
      Response-Routing-Time:
      - '86'
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8" standalone="yes"?><RestResponse
        xmlns="http://www.intuit.com/sb/cdm/v2"><PaymentMethods/></RestResponse>
  recorded_at: Wed, 30 Oct 2013 17:48:07 GMT
recorded_with: VCR 2.4.0
