---
http_interactions:
- request:
    method: post
    uri: https://qbo.sbfinance.intuit.com/resource/customers/v2/814984455
    body:
      encoding: UTF-8
      string: Filter=NAME+%3AEQUALS%3A+John+Do&PageNum=1&ResultsPerPage=20
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - OAuth oauth_consumer_key="qyprdcG20NCyjy5jd7tKal9ivdOcbH", oauth_nonce="4jtwmSzMilUDrqUpEzZQylpFgj4hrPgo15oZD3njQmM",
        oauth_signature="ypliplIesgjlayk1wlVOfOoVMds%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1382539185", oauth_token="lvprdxUq2lBxg6fkHo2ysylwa3554G4ygDrJd7Dk9iopQOVj",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Qbo-Version:
      - '67.142'
      Intuit-Tid:
      - 537d3f54-4d2b-483b-aecd-6e519b02a19a
      Content-Type:
      - application/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8" standalone="yes"?><qbo:SearchResults
        xmlns="http://www.intuit.com/sb/cdm/v2" xmlns:qbp="http://www.intuit.com/sb/cdm/qbopayroll/v1"
        xmlns:qbo="http://www.intuit.com/sb/cdm/qbo"><qbo:CdmCollections xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:type="Customers"><Customer><Id idDomain="QBO">1</Id><SyncToken>2</SyncToken><MetaData><CreateTime>2013-10-07T07:45:29-07:00</CreateTime><LastUpdatedTime>2013-10-22T08:17:16-07:00</LastUpdatedTime></MetaData><Name>John
        Do</Name><WebSite/><Email><Address>peter@spreecommerce.com</Address></Email><GivenName>John</GivenName><FamilyName>Do</FamilyName><DBAName>John
        Do Inc.</DBAName><CustomField xsi:type="BooleanTypeCustomField"><DefinitionId>Bill
        With Parent</DefinitionId><Value>false</Value></CustomField><CustomField xsi:type="StringTypeCustomField"><DefinitionId>Preferred
        Delivery Method</DefinitionId><Value>EMAIL</Value></CustomField><ShowAs>John
        Do</ShowAs><OpenBalance><Amount>0</Amount></OpenBalance></Customer></qbo:CdmCollections><qbo:Count>1</qbo:Count><qbo:CurrentPage>1</qbo:CurrentPage></qbo:SearchResults>
  recorded_at: Wed, 23 Oct 2013 14:39:46 GMT
recorded_with: VCR 2.4.0
