---
http_interactions:
- request:
    method: post
    uri: https://qbo.sbfinance.intuit.com/resource/payment-methods/v2/814984455
    body:
      encoding: UTF-8
      string: PageNum=1&ResultsPerPage=20
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - OAuth oauth_consumer_key="qyprdcG20NCyjy5jd7tKal9ivdOcbH", oauth_nonce="VktjyrhkvRaDx1Zh8UkDNGnQettKe47PxT3FaSx4",
        oauth_signature="BG3jFs2ZiT7VcIy%2BMDxpU5EYsS8%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1383155284", oauth_token="lvprdxUq2lBxg6fkHo2ysylwa3554G4ygDrJd7Dk9iopQOVj",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Qbo-Version:
      - '67.153'
      Intuit-Tid:
      - bf26f9ac-629a-4360-bb1f-96a1c47f5532
      Content-Type:
      - application/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8" standalone="yes"?><qbo:SearchResults
        xmlns="http://www.intuit.com/sb/cdm/v2" xmlns:qbp="http://www.intuit.com/sb/cdm/qbopayroll/v1"
        xmlns:qbo="http://www.intuit.com/sb/cdm/qbo"><qbo:CdmCollections xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:type="PaymentMethods"><PaymentMethod><Id idDomain="QBO">5</Id><SyncToken>0</SyncToken><MetaData><CreateTime>2013-10-07T05:49:40-07:00</CreateTime><LastUpdatedTime>2013-10-07T05:49:40-07:00</LastUpdatedTime></MetaData><Name>American
        Express</Name><Type>CREDIT_CARD</Type></PaymentMethod><PaymentMethod><Id idDomain="QBO">1</Id><SyncToken>0</SyncToken><MetaData><CreateTime>2013-10-07T05:49:40-07:00</CreateTime><LastUpdatedTime>2013-10-07T05:49:40-07:00</LastUpdatedTime></MetaData><Name>Cash</Name><Type>NON_CREDIT_CARD</Type></PaymentMethod><PaymentMethod><Id
        idDomain="QBO">2</Id><SyncToken>0</SyncToken><MetaData><CreateTime>2013-10-07T05:49:40-07:00</CreateTime><LastUpdatedTime>2013-10-07T05:49:40-07:00</LastUpdatedTime></MetaData><Name>C[...]
- request:
    method: post
    uri: https://qbo.sbfinance.intuit.com/resource/payment-methods/v2/814984455
    body:
      encoding: UTF-8
      string: PageNum=2&ResultsPerPage=20
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - OAuth oauth_consumer_key="qyprdcG20NCyjy5jd7tKal9ivdOcbH", oauth_nonce="ivMDcB0NI9W6DdM5R74McdjWtRRrpLaIu1FVxJ4Ns80",
        oauth_signature="ocZe47MTutlug7TtAwp1eV9pSwA%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1383155285", oauth_token="lvprdxUq2lBxg6fkHo2ysylwa3554G4ygDrJd7Dk9iopQOVj",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Qbo-Version:
      - '67.153'
      Intuit-Tid:
      - b642ecf5-8863-4510-a789-bc3333a8f70b
      Content-Type:
      - application/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8" standalone="yes"?><qbo:SearchResults
        xmlns="http://www.intuit.com/sb/cdm/v2" xmlns:qbp="http://www.intuit.com/sb/cdm/qbopayroll/v1"
        xmlns:qbo="http://www.intuit.com/sb/cdm/qbo"><qbo:CdmCollections xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:type="PaymentMethods"/><qbo:Count>0</qbo:Count><qbo:CurrentPage>2</qbo:CurrentPage></qbo:SearchResults>
  recorded_at: Wed, 30 Oct 2013 17:48:06 GMT
recorded_with: VCR 2.4.0
