---
http_interactions:
- request:
    method: post
    uri: https://qbo.sbfinance.intuit.com/resource/customers/v2/814984455
    body:
      encoding: UTF-8
      string: Filter=NAME+%3AEQUALS%3A+Brian+Quinn&PageNum=1&ResultsPerPage=20
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - OAuth oauth_consumer_key="qyprdcG20NCyjy5jd7tKal9ivdOcbH", oauth_nonce="yE0H4xszfGv6iBUzsorozetzb6qofu3kTCibVbPWUp0",
        oauth_signature="flt4MCVpfmxymdRCfEd1sm9Thtk%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1383593908", oauth_token="qyprdeWdq0V9n7kdb2rS6RTfJ87kwsEgA72Ex68BNVcqCTsV",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Qbo-Version:
      - '67.153'
      Intuit-Tid:
      - 642c2e20-a6c1-44cd-84bd-085a391362dc
      Content-Type:
      - application/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8" standalone="yes"?><qbo:SearchResults
        xmlns="http://www.intuit.com/sb/cdm/v2" xmlns:qbp="http://www.intuit.com/sb/cdm/qbopayroll/v1"
        xmlns:qbo="http://www.intuit.com/sb/cdm/qbo"><qbo:CdmCollections xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:type="Customers"><Customer><Id idDomain="QBO">8</Id><SyncToken>0</SyncToken><MetaData><CreateTime>2013-10-25T07:34:16-07:00</CreateTime><LastUpdatedTime>2013-10-25T07:34:16-07:00</LastUpdatedTime></MetaData><Name>Brian
        Quinn</Name><Address><Line1>7735 Old Georgetown Rd</Line1><City>Bethesda</City><Country>US</Country><CountrySubDivisionCode>Maryland</CountrySubDivisionCode><PostalCode>20814</PostalCode><GeoCode>LAT=38.987477,LNG=-77.097917</GeoCode><Tag>Billing</Tag></Address><Address><Line1>7735
        Old Georgetown Rd</Line1><City>Bethesda</City><Country>US</Country><CountrySubDivisionCode>Maryland</CountrySubDivisionCode><PostalCode>20814</PostalCode><GeoCode>LAT=38.987477,LNG=-77.097917</GeoCode><Tag>Shipping</Tag></Address><WebSite/><Email><Address>spree@example.com</Address></Email><CustomField
        xsi:type="BooleanTypeCustomField"><DefinitionId>Bill With Parent</DefinitionId><Value>false</Value></CustomField><CustomField
        xsi:type="StringTypeCustomField"><DefinitionId>Preferred Delivery Method</DefinitionId><Value>EMAIL</Value></CustomField><ShowAs>Brian
        Quinn</ShowAs><OpenBalance><Amount>0</Amount></OpenBalance></Customer></qbo:CdmCollections><qbo:Count>1</qbo:Count><qbo:CurrentPage>1</qbo:CurrentPage></qbo:SearchResults>
  recorded_at: Mon, 04 Nov 2013 19:38:31 GMT
- request:
    method: post
    uri: https://qbo.sbfinance.intuit.com/resource/payment-methods/v2/814984455
    body:
      encoding: UTF-8
      string: Filter=NAME+%3AEQUALS%3A+Visa&PageNum=1&ResultsPerPage=20
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - OAuth oauth_consumer_key="qyprdcG20NCyjy5jd7tKal9ivdOcbH", oauth_nonce="A0Y2Z1Tt4EJCkZEoX35fwZ4JWGTW5jprH3kXrIQzU",
        oauth_signature="DVmmc7hdclO5qPdYE7slceuHtT4%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1383593911", oauth_token="qyprdeWdq0V9n7kdb2rS6RTfJ87kwsEgA72Ex68BNVcqCTsV",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Qbo-Version:
      - '67.153'
      Intuit-Tid:
      - 28f61bb8-3de6-46a8-a6d3-81d8116f834b
      Content-Type:
      - application/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8" standalone="yes"?><qbo:SearchResults
        xmlns="http://www.intuit.com/sb/cdm/v2" xmlns:qbp="http://www.intuit.com/sb/cdm/qbopayroll/v1"
        xmlns:qbo="http://www.intuit.com/sb/cdm/qbo"><qbo:CdmCollections xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:type="PaymentMethods"><PaymentMethod><Id idDomain="QBO">3</Id><SyncToken>0</SyncToken><MetaData><CreateTime>2013-10-07T05:49:40-07:00</CreateTime><LastUpdatedTime>2013-10-07T05:49:40-07:00</LastUpdatedTime></MetaData><Name>Visa</Name><Type>CREDIT_CARD</Type></PaymentMethod></qbo:CdmCollections><qbo:Count>1</qbo:Count><qbo:CurrentPage>1</qbo:CurrentPage></qbo:SearchResults>
  recorded_at: Mon, 04 Nov 2013 19:38:32 GMT
- request:
    method: post
    uri: https://qbo.sbfinance.intuit.com/resource/accounts/v2/814984455
    body:
      encoding: UTF-8
      string: Filter=NAME+%3AEQUALS%3A+Undeposited+Funds&PageNum=1&ResultsPerPage=1
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - OAuth oauth_consumer_key="qyprdcG20NCyjy5jd7tKal9ivdOcbH", oauth_nonce="5BTkjEzLeinczNjyoZQgGbCKHdwIQ1lR57SOGQCCjwc",
        oauth_signature="U%2BRd6vmlKAdWWnipKsApMgPP%2F38%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1383593912", oauth_token="qyprdeWdq0V9n7kdb2rS6RTfJ87kwsEgA72Ex68BNVcqCTsV",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Qbo-Version:
      - '67.153'
      Intuit-Tid:
      - c5c8fd7c-727d-43ab-8515-9d1120208ef3
      Content-Type:
      - application/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8" standalone="yes"?><qbo:SearchResults
        xmlns="http://www.intuit.com/sb/cdm/v2" xmlns:qbp="http://www.intuit.com/sb/cdm/qbopayroll/v1"
        xmlns:qbo="http://www.intuit.com/sb/cdm/qbo"><qbo:CdmCollections xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:type="Accounts"><Account><Id idDomain="QBO">4</Id><SyncToken>0</SyncToken><MetaData><CreateTime>2013-10-07T05:49:41-07:00</CreateTime><LastUpdatedTime>2013-10-07T05:49:41-07:00</LastUpdatedTime></MetaData><Name>Undeposited
        Funds</Name><Subtype>UndepositedFunds</Subtype><CurrentBalance>3884.33</CurrentBalance></Account></qbo:CdmCollections><qbo:Count>1</qbo:Count><qbo:CurrentPage>1</qbo:CurrentPage></qbo:SearchResults>
  recorded_at: Mon, 04 Nov 2013 19:38:33 GMT
[...]
- request:
    method: post
    uri: https://qbo.sbfinance.intuit.com/resource/items/v2/814984455
    body:
      encoding: UTF-8
      string: Filter=NAME+%3AEQUALS%3A+SPR-00001&PageNum=1&ResultsPerPage=1
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - OAuth oauth_consumer_key="qyprdcG20NCyjy5jd7tKal9ivdOcbH", oauth_nonce="jY7VkMhaTbnstGFj88lPVJLq48Wq6LqycGm8rj4mo",
        oauth_signature="06ywbYjDS3w%2FASb6J7DS3TW0X3M%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1383593914", oauth_token="qyprdeWdq0V9n7kdb2rS6RTfJ87kwsEgA72Ex68BNVcqCTsV",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Qbo-Version:
      - '67.153'
      Intuit-Tid:
      - 9a79996c-8b8e-4f3a-bf5a-443439b2b78d
      Content-Type:
      - application/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8" standalone="yes"?><qbo:SearchResults
        xmlns="http://www.intuit.com/sb/cdm/v2" xmlns:qbp="http://www.intuit.com/sb/cdm/qbopayroll/v1"
        xmlns:qbo="http://www.intuit.com/sb/cdm/qbo"><qbo:CdmCollections xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:type="Items"><Item><Id idDomain="QBO">10</Id><SyncToken>0</SyncToken><MetaData><CreateTime>2013-10-23T07:00:25-07:00</CreateTime><LastUpdatedTime>2013-10-23T07:00:25-07:00</LastUpdatedTime></MetaData><Name>SPR-00001</Name><Desc>Spree
        Baseball Jersey</Desc><Taxable>true</Taxable><UnitPrice><Amount>19.99</Amount></UnitPrice><IncomeAccountRef><AccountId
        idDomain="QBO">1</AccountId></IncomeAccountRef><ExpenseAccountRef><AccountId
        idDomain="QBO">49</AccountId></ExpenseAccountRef></Item></qbo:CdmCollections><qbo:Count>1</qbo:Count><qbo:CurrentPage>1</qbo:CurrentPage></qbo:SearchResults>
  recorded_at: Mon, 04 Nov 2013 19:38:36 GMT
[...]
- request:
    method: post
    uri: https://qbo.sbfinance.intuit.com/resource/sales-receipt/v2/814984455
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="utf-8"?>
        <SalesReceipt xmlns:ns2="http://www.intuit.com/sb/cdm/qbo" xmlns="http://www.intuit.com/sb/cdm/v2" xmlns:ns3="http://www.intuit.com/sb/cdm">
        <DocNumber>R181807170</DocNumber>
        <Header>
        <DocNumber>R181807170</DocNumber>
        <TxnDate>2013-07-30T14:19:05+0000</TxnDate>
        <CustomerId idDomain="QBO">8</CustomerId>
        <TotalAmt>114.95</TotalAmt>
        <DepositToAccountId idDomain="QBO">4</DepositToAccountId>
        <ShipAddr>
        <Line1>7735 Old Georgetown Rd</Line1>
        <Line2/>
        <City>Bethesda</City>
        <Country>US</Country>
        <CountrySubDivisionCode>Maryland</CountrySubDivisionCode>
        <PostalCode>20814</PostalCode>
        </ShipAddr>
        <ShipMethodName>UPS</ShipMethodName>
        <PaymentMethodId idDomain="QBO">3</PaymentMethodId>
        <PaymentMethodName>Visa</PaymentMethodName>
        </Header>
        <Line>
        <Desc>Spree Baseball Jersey</Desc>
        <Amount>39.98</Amount>
        <ItemId idDomain="QBO">10</ItemId>
        <UnitPrice>19.99</UnitPrice>
        <Qty>2</Qty>
        </Line>
        <Line>
        <Desc>Ruby on Rails Baseball Jersey</Desc>
        <Amount>59.97</Amount>
        <ItemId idDomain="QBO">11</ItemId>
        <UnitPrice>19.99</UnitPrice>
        <Qty>3</Qty>
        </Line>
        <Line>
        <Desc>Shipping</Desc>
        <Amount>5.0</Amount>
        <ItemId idDomain="QBO">12</ItemId>
        <UnitPrice>5.0</UnitPrice>
        <Qty>1</Qty>
        </Line>
        <Line>
        <Desc>Shipping</Desc>
        <Amount>5.0</Amount>[...]
