---
http_interactions:
- request:
    method: get
    uri: https://qbo.sbfinance.intuit.com/resource/sales-receipt/v2/814984455/45
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="qyprdcG20NCyjy5jd7tKal9ivdOcbH", oauth_nonce="A5XR5V89xI9GGwF0EQL3J7waWCLJuDvwJfIABBA2I",
        oauth_signature="kr5lvLo1gZlsGFoMMjDCkzQ%2FFJM%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1383593929", oauth_token="qyprdeWdq0V9n7kdb2rS6RTfJ87kwsEgA72Ex68BNVcqCTsV",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Qbo-Version:
      - '67.153'
      Intuit-Tid:
      - ef877486-713a-4983-8e91-ddb40c740552
      Content-Type:
      - application/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8" standalone="yes"?><SalesReceipt
        xmlns="http://www.intuit.com/sb/cdm/v2" xmlns:qbp="http://www.intuit.com/sb/cdm/qbopayroll/v1"
        xmlns:qbo="http://www.intuit.com/sb/cdm/qbo"><Id idDomain="QBO">45</Id><SyncToken>0</SyncToken><MetaData><CreateTime>2013-11-04T11:38:48-08:00</CreateTime><LastUpdatedTime>2013-11-04T11:38:48-08:00</LastUpdatedTime></MetaData><Header><DocNumber>R181807170</DocNumber><TxnDate>2013-07-30-07:00</TxnDate><CustomerId
        idDomain="QBO">8</CustomerId><SubTotalAmt>114.95</SubTotalAmt><TotalAmt>114.95</TotalAmt><ToBePrinted>false</ToBePrinted><ToBeEmailed>false</ToBeEmailed><ShipAddr><Line1>7735
        Old Georgetown Rd</Line1><City>Bethesda</City><Country>US</Country><CountrySubDivisionCode>Maryland</CountrySubDivisionCode><PostalCode>20814</PostalCode><GeoCode>LAT=38.987477,LNG=-77.097917</GeoCode></ShipAddr><ShipMethodId
        idDomain="QBO"/><ShipMethodName>UPS</ShipMethodName><DepositToAccountId idDomain="QBO">4</DepositToAccountId><DepositToAccountName>Undeposited
        Funds</DepositToAccountName><PaymentMethodId idDomain="QBO">3</PaymentMethodId><PaymentMethodName>Visa</PaymentMethodName><DiscountTaxable>true</DiscountTaxable></Header><Line><Id>1</Id><Desc>Spree
        Baseball Jersey</Desc><Amount>39.98</Amount><Taxable>false</Taxable><ItemId>10</ItemId><UnitPrice>19.99</UnitPrice><Qty>2</Qty></Line><Line><Id>2</Id><Desc>Ruby
        on Rails Baseball Jersey</Desc><Amount>59.97</Amount><Taxable>false</Taxable><ItemId>11</ItemId><UnitPrice>19.99</UnitPrice><Qty>3</Qty></Line><Line><Id>3</Id><Desc>Shipping</Desc><Amount>5.00</Amount><Taxable>false</Taxable><ItemId>12</ItemId><UnitPrice>5</UnitPrice><Qty>1</Qty></Line><Line><Id>4</Id><Desc>Shipping</Desc><Amount>5.00</Amount><Taxable>false</Taxable><ItemId>12</ItemId><UnitPrice>5</UnitPrice><Qty>1</Qty></Line><Line><Id>5</Id><Desc>North
        America 5.0</Desc><Amount>5.00</Amount><Taxable>false</Taxable><ItemId>13</ItemId><UnitPrice>5</UnitPrice><Qty>1</Qty></Line></SalesReceipt>
  recorded_at: Mon, 04 Nov 2013 19:38:50 GMT
- request:
    method: post
    uri: https://qbo.sbfinance.intuit.com/resource/customers/v2/814984455
    body:
      encoding: UTF-8
      string: Filter=NAME+%3AEQUALS%3A+Brian+Quinn&PageNum=1&ResultsPerPage=20
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - OAuth oauth_consumer_key="qyprdcG20NCyjy5jd7tKal9ivdOcbH", oauth_nonce="3sFt0oGQRzmGSt6DKfsged18NifzVn7jJycIRCrO3A",
        oauth_signature="iF0M8bblOFH9lJMF9R%2BXRYa7FgA%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1383593930", oauth_token="qyprdeWdq0V9n7kdb2rS6RTfJ87kwsEgA72Ex68BNVcqCTsV",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Qbo-Version:
      - '67.153'
      Intuit-Tid:
      - 83b20e09-a743-4e99-bf8f-e1bc30870e4e
      Content-Type:
      - application/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8" standalone="yes"?><qbo:SearchResults
        xmlns="http://www.intuit.com/sb/cdm/v2" xmlns:qbp="http://www.intuit.com/sb/cdm/qbopayroll/v1"
        xmlns:qbo="http://www.intuit.com/sb/cdm/qbo"><qbo:CdmCollections xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:type="Customers"><Customer><Id idDomain="QBO">8</Id><SyncToken>0</SyncToken><MetaData><CreateTime>2013-10-25T07:34:16-07:00</CreateTime><LastUpdatedTime>2013-10-25T07:34:16-07:00</LastUpdatedTime></MetaData><Name>Brian
        Quinn</Name><Address><Line1>7735 Old Georgetown Rd</Line1><City>Bethesda</City><Country>US</Country><CountrySubDivisionCode>Maryland</CountrySubDivisionCode><PostalCode>20814</PostalCode><GeoCode>LAT=38.987477,LNG=-77.097917</GeoCode><Tag>Billing</Tag></Address><Address><Line1>7735
        Old Georgetown Rd</Line1><City>Bethesda</City><Country>US</Country><CountrySubDivisionCode>Maryland</CountrySubDivisionCode><PostalCode>20814</PostalCode><GeoCode>LAT=38.987477,LNG=-77.097917</GeoCode><Tag>Shipping</Tag></Address><WebSite/><Email><Address>spree@example.com</Address></Email><CustomField
        xsi:type="BooleanTypeCustomField"><DefinitionId>Bill With Parent</DefinitionId><Value>false</Value></CustomField><CustomField
        xsi:type="StringTypeCustomField"><DefinitionId>Preferred Delivery Method</DefinitionId><Value>EMAIL</Value></CustomField><ShowAs>Brian
        Quinn</ShowAs><OpenBalance><Amount>0</Amount></OpenBalance></Customer></qbo:CdmCollections><qbo:Count>1</qbo:Count><qbo:CurrentPage>1</qbo:CurrentPage></qbo:SearchResults>
  recorded_at: Mon, 04 Nov 2013 19:38:52 GMT
- request:
    method: post
    uri: https://qbo.sbfinance.intuit.com/resource/payment-methods/v2/814984455
    body:
      encoding: UTF-8
      string: Filter=NAME+%3AEQUALS%3A+Visa&PageNum=1&ResultsPerPage=20
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - OAuth oauth_consumer_key="qyprdcG20NCyjy5jd7tKal9ivdOcbH", oauth_nonce="Gg0bpjdkCqUjTJZlN8mP6Stwj4I7sA1LbglarFVhw",
        oauth_signature="y4UimgD7p4sUCeQqZqTYiHl7IKE%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1383593932", oauth_token="qyprdeWdq0V9n7kdb2rS6RTfJ87kwsEgA72Ex68BNVcqCTsV",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Qbo-Version:
      - '67.153'
      Intuit-Tid:
      - 701a8f1d-247b-48e2-8b9a-1336950bdd55
      Content-Type:
      - application/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8" standalone="yes"?><qbo:SearchResults
        xmlns="http://www.intuit.com/sb/cdm/v2" xmlns:qbp="http://www.intuit.com/sb/cdm/qbopayroll/v1"
        xmlns:qbo="http://www.intuit.com/sb/cdm/qbo"><qbo:CdmCollections xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:type="PaymentMethods"><PaymentMethod><Id idDomain="QBO">3</Id><SyncToken>0</SyncToken><MetaData><CreateTime>2013-10-07T05:49:40-07:00</CreateTime><LastUpdatedTime>2013-10-07T05:49:40-07:00</LastUpdatedTime></MetaData><Name>Visa</Name><Type>CREDIT_CARD</Type></PaymentMethod></qbo:CdmCollections><qbo:Count>1</qbo:Count><qbo:CurrentPage>1</qbo:CurrentPage></qbo:SearchResults>
  recorded_at: Mon, 04 Nov 2013 19:38:53 GMT
- request:
    method: post
    uri: https://qbo.sbfinance.intuit.com/resource/accounts/v2/814984455
    body:
      encoding: UTF-8
      string: Filter=NAME+%3AEQUALS%3A+Undeposited+Funds&PageNum=1&ResultsPerPage=1
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - OAuth oauth_consumer_key="qyprdcG20NCyjy5jd7tKal9ivdOcbH", oauth_nonce="fptIEy9eqPmhVfrG4Yen4bYlPOEoQxukgeQ6Tq0nAtY",
        oauth_signature="yeDCLP%2Fhao%2FAy%2BXvHg8vbjBcLYA%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1383593933", oauth_token="qyprdeWdq0V9n7kdb2rS6RTfJ87kwsEgA72Ex68BNVcqCTsV",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Qbo-Version:
      - '67.153'
      Intuit-Tid:
      - 9d476802-8b9c-4278-9a4a-1693a1805cd5
      Content-Type:
      - application/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8" standalone="yes"?><qbo:SearchResults
        xmlns="http://www.intuit.com/sb/cdm/v2" xmlns:qbp="http://www.intuit.com/sb/cdm/qbopayroll/v1"
        xmlns:qbo="http://www.intuit.com/sb/cdm/qbo"><qbo:CdmCollections xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:type="Accounts"><Account><Id idDomain="QBO">4</Id><SyncToken>0</SyncToken><MetaData><CreateTime>2013-10-07T05:49:41-07:00</CreateTime><LastUpdatedTime>2013-10-07T05:49:41-07:00</LastUpdatedTime></MetaData><Name>Undeposited
        Funds</Name><Subtype>UndepositedFunds</Subtype><CurrentBalance>3999.28</CurrentBalance></Account></qbo:CdmCollections><qbo:Count>1</qbo:Count><qbo:CurrentPage>1</qbo:CurrentPage></qbo:SearchResults>
  recorded_at: Mon, 04 Nov 2013 19:38:55 GMT
[...]
- request:
    method: post
    uri: https://qbo.sbfinance.intuit.com/resource/items/v2/814984455
    body:
      encoding: UTF-8
      string: Filter=NAME+%3AEQUALS%3A+SPR-00001&PageNum=1&ResultsPerPage=1
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - OAuth oauth_consumer_key="qyprdcG20NCyjy5jd7tKal9ivdOcbH", oauth_nonce="E2oZe6xxHytjtUnJY283fBSgHAnzu5mO8FPsysUT9U",
        oauth_signature="GkyPfSnzs4raQPD3c8ILQpJsqfI%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1383593936", oauth_token="qyprdeWdq0V9n7kdb2rS6RTfJ87kwsEgA72Ex68BNVcqCTsV",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Qbo-Version:
      - '67.153'
      Intuit-Tid:
      - 828026b9-199d-4803-86e1-ff2370e22b22
      Content-Type:
      - application/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8" standalone="yes"?><qbo:SearchResults
        xmlns="http://www.intuit.com/sb/cdm/v2" xmlns:qbp="http://www.intuit.com/sb/cdm/qbopayroll/v1"
        xmlns:qbo="http://www.intuit.com/sb/cdm/qbo"><qbo:CdmCollections xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:type="Items"><Item><Id idDomain="QBO">10</Id><SyncToken>0</SyncToken><MetaData><CreateTime>2013-10-23T07:00:25-07:00</CreateTime><LastUpdatedTime>2013-10-23T07:00:25-07:00</LastUpdatedTime></MetaData><Name>SPR-00001</Name><Desc>Spree
        Baseball Jersey</Desc><Taxable>true</Taxable><UnitPrice><Amount>19.99</Amount></UnitPrice><IncomeAccountRef><AccountId
        idDomain="QBO">1</AccountId></IncomeAccountRef><ExpenseAccountRef><AccountId
        idDomain="QBO">49</AccountId></ExpenseAccountRef></Item></qbo:CdmCollections><qbo:Count>1</qbo:Count><qbo:CurrentPage>1</qbo:CurrentPage></qbo:SearchResults>
  recorded_at: Mon, 04 Nov 2013 19:38:57 GMT
[...]
- request:
    method: post
    uri: https://qbo.sbfinance.intuit.com/resource/sales-receipt/v2/814984455/45
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="utf-8"?>
        <SalesReceipt xmlns:ns2="http://www.intuit.com/sb/cdm/qbo" xmlns="http://www.intuit.com/sb/cdm/v2" xmlns:ns3="http://www.intuit.com/sb/cdm">
        <Id>45</Id>
        <SyncToken>0</SyncToken>
        <DocNumber>R181807170</DocNumber>
        <Header>
        <DocNumber>R181807170</DocNumber>
        <TxnDate>2013-07-30T14:19:05+0000</TxnDate>
        <CustomerId idDomain="QBO">8</CustomerId>
        <TotalAmt>134.94</TotalAmt>
        <DepositToAccountId idDomain="QBO">4</DepositToAccountId>
        <ShipAddr>
        <Line1>7735 Old Georgetown Rd</Line1>
        <Line2/>
        <City>Bethesda</City>
        <Country>US</Country>
        <CountrySubDivisionCode>Maryland</CountrySubDivisionCode>
        <PostalCode>20814</PostalCode>
        </ShipAddr>
        <ShipMethodName>UPS</ShipMethodName>
        <PaymentMethodId idDomain="QBO">3</PaymentMethod[...]
