---
http_interactions:
- request:
    method: post
    uri: https://qbo.sbfinance.intuit.com/resource/customers/v2/814984455
    body:
      encoding: UTF-8
      string: Filter=NAME+%3AEQUALS%3A+Brian+Quinn&PageNum=1&ResultsPerPage=20
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - OAuth oauth_consumer_key="qyprdcG20NCyjy5jd7tKal9ivdOcbH", oauth_nonce="qtGW4kjCTkaeFzJKRhs2u3WvLqbjguJ1TmP8jAPUuM",
        oauth_signature="yVleQJWwApRZCsYREzcZvZInqWY%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1383558890", oauth_token="lvprdxUq2lBxg6fkHo2ysylwa3554G4ygDrJd7Dk9iopQOVj",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Qbo-Version:
      - '67.153'
      Intuit-Tid:
      - 5066ce2c-389b-4beb-a466-0d1470b8eba0
      Content-Type:
      - application/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8" standalone="yes"?><qbo:SearchResults
        xmlns="http://www.intuit.com/sb/cdm/v2" xmlns:qbp="http://www.intuit.com/sb/cdm/qbopayroll/v1"
        xmlns:qbo="http://www.intuit.com/sb/cdm/qbo"><qbo:CdmCollections xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:type="Customers"><Customer><Id idDomain="QBO">8</Id><SyncToken>0</SyncToken><MetaData><CreateTime>2013-10-25T07:34:16-07:00</CreateTime><LastUpdatedTime>2013-10-25T07:34:16-07:00</LastUpdatedTime></MetaData><Name>Brian
        Quinn</Name><Address><Line1>7735 Old Georgetown Rd</Line1><City>Bethesda</City><Country>US</Country><CountrySubDivisionCode>Maryland</CountrySubDivisionCode><PostalCode>20814</PostalCode><GeoCode>LAT=38.987477,LNG=-77.097917</GeoCode><Tag>Billing</Tag></Address><Address><Line1>7735
        Old Georgetown Rd</Line1><City>Bethesda</City><Country>US</Country><CountrySubDivisionCode>Maryland</CountrySubDivisionCode><PostalCode>20814</PostalCode><GeoCode>LAT=38.987477,LNG=-77.097917</GeoCode><Tag>Shipping</Tag></Address><WebSite/><Email><Address>spree@example.com</Address></Email><CustomField
        xsi:type="BooleanTypeCustomField"><DefinitionId>Bill With Parent</DefinitionId><Value>false</Value></CustomField><CustomField
        xsi:type="StringTypeCustomField"><DefinitionId>Preferred Delivery Method</DefinitionId><Value>EMAIL</Value></CustomField><ShowAs>Brian
        Quinn</ShowAs><OpenBalance><Amount>0</Amount></OpenBalance></Customer></qbo:CdmCollections><qbo:Count>1</qbo:Count><qbo:CurrentPage>1</qbo:CurrentPage></qbo:SearchResults>
  recorded_at: Mon, 04 Nov 2013 09:54:51 GMT
- request:
    method: post
    uri: https://qbo.sbfinance.intuit.com/resource/payment-methods/v2/814984455
    body:
      encoding: UTF-8
      string: Filter=NAME+%3AEQUALS%3A+Visa&PageNum=1&ResultsPerPage=20
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - OAuth oauth_consumer_key="qyprdcG20NCyjy5jd7tKal9ivdOcbH", oauth_nonce="5dnAbYLZ2zaqx1yd6lyB9HArJFdppZWZbNN1NPIH0",
        oauth_signature="B2nFMvDgei1w77ZBfZ7Yit7z%2Fuk%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1383558891", oauth_token="lvprdxUq2lBxg6fkHo2ysylwa3554G4ygDrJd7Dk9iopQOVj",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Qbo-Version:
      - '67.153'
      Intuit-Tid:
      - a3ef02c0-2448-48de-845e-d474493b4916
      Content-Type:
      - application/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8" standalone="yes"?><qbo:SearchResults
        xmlns="http://www.intuit.com/sb/cdm/v2" xmlns:qbp="http://www.intuit.com/sb/cdm/qbopayroll/v1"
        xmlns:qbo="http://www.intuit.com/sb/cdm/qbo"><qbo:CdmCollections xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:type="PaymentMethods"><PaymentMethod><Id idDomain="QBO">3</Id><SyncToken>0</SyncToken><MetaData><CreateTime>2013-10-07T05:49:40-07:00</CreateTime><LastUpdatedTime>2013-10-07T05:49:40-07:00</LastUpdatedTime></MetaData><Name>Visa</Name><Type>CREDIT_CARD</Type></PaymentMethod></qbo:CdmCollections><qbo:Count>1</qbo:Count><qbo:CurrentPage>1</qbo:CurrentPage></qbo:SearchResults>
  recorded_at: Mon, 04 Nov 2013 09:54:52 GMT
- request:
    method: post
    uri: https://qbo.sbfinance.intuit.com/resource/accounts/v2/814984455
    body:
      encoding: UTF-8
      string: Filter=NAME+%3AEQUALS%3A+Sales&PageNum=1&ResultsPerPage=1
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - OAuth oauth_consumer_key="qyprdcG20NCyjy5jd7tKal9ivdOcbH", oauth_nonce="qfZyNW6KcgZi0vdTDTlyRcrpM80W9oCoyfKPoK5Mv8",
        oauth_signature="i8b7MAHbuoCpinuBEeCT%2Bj2Lr5c%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1383558892", oauth_token="lvprdxUq2lBxg6fkHo2ysylwa3554G4ygDrJd7Dk9iopQOVj",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Qbo-Version:
      - '67.153'
      Intuit-Tid:
      - 3f9f0ef0-8860-4895-88ce-6a6f9d95d954
      Content-Type:
      - application/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8" standalone="yes"?><qbo:SearchResults
        xmlns="http://www.intuit.com/sb/cdm/v2" xmlns:qbp="http://www.intuit.com/sb/cdm/qbopayroll/v1"
        xmlns:qbo="http://www.intuit.com/sb/cdm/qbo"><qbo:CdmCollections xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:type="Accounts"><Account><Id idDomain="QBO">1</Id><SyncToken>0</SyncToken><MetaData><CreateTime>2013-10-07T05:49:40-07:00</CreateTime><LastUpdatedTime>2013-10-07T05:49:40-07:00</LastUpdatedTime></MetaData><Name>Sales</Name><Subtype>SalesOfProductIncome</Subtype></Account></qbo:CdmCollections><qbo:Count>1</qbo:Count><qbo:CurrentPage>1</qbo:CurrentPage></qbo:SearchResults>
  recorded_at: Mon, 04 Nov 2013 09:54:53 GMT
- request:
    method: post
    uri: https://qbo.sbfinance.intuit.com/resource/items/v2/814984455
    body:
      encoding: UTF-8
      string: Filter=NAME+%3AEQUALS%3A+SPR-00001&PageNum=1&ResultsPerPage=1
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - OAuth oauth_consumer_key="qyprdcG20NCyjy5jd7tKal9ivdOcbH", oauth_nonce="MvYVPBtXXB4IV1twEfn1PTfXxX9lw0v1FPJMxUbg",
        oauth_signature="SGVlkxFYNOnrF2o9cJsp3naYACg%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1383558893", oauth_token="lvprdxUq2lBxg6fkHo2ysylwa3554G4ygDrJd7Dk9iopQOVj",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Qbo-Version:
      - '67.153'
      Intuit-Tid:
      - 2a8becbd-7a13-4d77-bd0b-1e4327438e3d
      Content-Type:
      - application/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8" standalone="yes"?><qbo:SearchResults
        xmlns="http://www.intuit.com/sb/cdm/v2" xmlns:qbp="http://www.intuit.com/sb/cdm/qbopayroll/v1"
        xmlns:qbo="http://www.intuit.com/sb/cdm/qbo"><qbo:CdmCollections xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:type="Items"><Item><Id idDomain="QBO">10</Id><SyncToken>0</SyncToken><MetaData><CreateTime>2013-10-23T07:00:25-07:00</CreateTime><LastUpdatedTime>2013-10-23T07:00:25-07:00</LastUpdatedTime></MetaData><Name>SPR-00001</Name><Desc>Spree
        Baseball Jersey</Desc><Taxable>true</Taxable><UnitPrice><Amount>19.99</Amount></UnitPrice><IncomeAccountRef><AccountId
        idDomain="QBO">1</AccountId></IncomeAccountRef><ExpenseAccountRef><AccountId
        idDomain="QBO">49</AccountId></ExpenseAccountRef></Item></qbo:CdmCollections><qbo:Count>1</qbo:Count><qbo:CurrentPage>1</qbo:CurrentPage></qbo:SearchResults>
  recorded_at: Mon, 04 Nov 2013 09:54:54 GMT
[...]
- request:
    method: post
    uri: https://qbo.sbfinance.intuit.com/resource/sales-receipt/v2/814984455
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="utf-8"?>
        <SalesReceipt xmlns:ns2="http://www.intuit.com/sb/cdm/qbo" xmlns="http://www.intuit.com/sb/cdm/v2" xmlns:ns3="http://www.intuit.com/sb/cdm">
        <DocNumber>R181807170</DocNumber>
        <Header>
        <DocNumber>R181807170</DocNumber>
        <TxnDate>2013-07-30T14:19:05+0000</TxnDate>
        <CustomerId idDomain="QBO">8</CustomerId>
        <TotalAmt>114.95</TotalAmt>
        <DepositToAccountName>Visa/MC</DepositToAccountName>
        <ShipAddr>
        <Line1>7735 Old Georgetown Rd</Line1>
        <Line2/>
        <City>Bethesda</City>
        <Country>US</Country>
        <CountrySubDivisionCode>Maryland</CountrySubDivisionCode>
        <PostalCode>20814</PostalCode>
        </ShipAddr>
        <ShipMethodName>UPS</ShipMethodName>
        <PaymentMethodId idDomain="QBO">3</PaymentMethodId>
        <PaymentMethodName>Visa</PaymentMethodName>
        </Header>
        <Line>
        <Desc>Spree Baseball Jersey</Desc>
        <Amount>39.98</Amount>
        <ItemId idDomain="QBO">10</ItemId>
        <UnitPrice>19.99</UnitPrice>
        <Qty>2</Qty>
        </Line>
        <Line>
        <Desc>Ruby on Rails Baseball Jersey</Desc>
        <Amount>59.97</Amount>
        <ItemId idDomain="QBO">11</ItemId>
        <UnitPrice>19.99</UnitPrice>
        <Qty>3</Qty>
        </Line>
        <Line>
        <Desc>Shipping</Desc>
        <Amount>5.0</Amount>
        <ItemId idDomain="QBO">12</ItemId>
        <UnitPrice>5.0</UnitPrice>
        <Qty>1</Qty>
        </Line>
        <Line>
        <Desc>Shipping</Desc>
        <Amount>5.0</Amount>[...]
