---
http_interactions:
- request:
    method: get
    uri: https://quickbooks.api.intuit.com/v3/company/<REALM>/query?query=SELECT%20*%20FROM%20Vendor%20STARTPOSITION%201%20MAXRESULTS%201000
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/xml
      Authorization:
      - OAuth oauth_consumer_key="oauth_consumer_key", oauth_nonce="3xZPSfbxtbD3MXNqCS2UcEEUzA0yYfN07uAnZ5a9hs",
        oauth_signature="SmUdZklD0fHn%2Bf6gnhSz%2BnTWWqY%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1564496989", oauth_token="<TOKEN>", oauth_version="1.0"
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - text/xml
      Intuit-Tid:
      - 6b0d3a66-390c-4152-abb2-19befecf2f92
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
        <IntuitResponse time="2019-07-30T07:29:51.037-07:00" xmlns="http://schema.intuit.com/finance/v3">
            <Fault type="AUTHENTICATION">
                <Error code="3200">
                    <Message>message=ApplicationAuthenticationFailed; errorCode=003200; statusCode=401</Message>
                </Error>
            </Fault>
        </IntuitResponse>
  recorded_at: Tue, 30 Jul 2019 14:29:51 GMT
recorded_with: VCR 4.0.0
