---
http_interactions:
- request:
    method: post
    uri: https://services.intuit.com/sb/item/v2/571550630
    body:
      encoding: US-ASCII
      string: <?xml version="1.0" encoding="utf-8"?><ItemQuery xmlns="http://www.intuit.com/sb/cdm/v2"><StartPage>1</StartPage><ChunkSize>20</ChunkSize><CustomFieldEnable>true</CustomFieldEnable></ItemQuery>
    headers:
      Content-Type:
      - text/xml
      Authorization:
      - OAuth oauth_body_hash="CHW0yCuIpdDe%2BZkqYK2AGAj9%2FAI%3D", oauth_consumer_key="qyprdcG20NCyjy5jd7tKal9ivdOcbH",
        oauth_nonce="Ad7GXlIWmScf00AzoCgP42s4k5cYYqjF1Ajy6IsaW8", oauth_signature="CC%2By5cZJ9oZVNSK%2FN%2B%2BC6Qt5gBw%3D",
        oauth_signature_method="HMAC-SHA1", oauth_timestamp="1375361848", oauth_token="qyprd5T3BQ4KMbBkcsRF0UwGV298oczLuaKumJUj8IDtoPnc",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Response-App-Time:
      - '174'
      Response-Id:
      - 617552dd-0b1a-4b38-8782-a9f7706ff46b
      Response-Db-Time:
      - '130'
      Response-Routing-Time:
      - '234'
      Content-Type:
      - text/xml
    body:
      encoding: US-ASCII
      string: ! '<?xml version="1.0" encoding="UTF-8"?><!--XML GENERATED by IntuitDataSyncEngine
        (IDS) using \\SBDomainServices\CDM\branches\3.9.0-rel-1-->

        <RestResponse xmlns="http://www.intuit.com/sb/cdm/v2"

        xmlns:xdb          ="http://xmlns.oracle.com/xdb"

        xmlns:xsi          ="http://www.w3.org/2001/XMLSchema-instance"

        xsi:schemaLocation ="http://www.intuit.com/sb/cdm/v2 ../common/RestDataFilter.xsd"><Items>

        <Item>

        <Id idDomain="NG">235216</Id>

        <SyncToken>4</SyncToken>

        <MetaData>

        <CreatedBy>app</CreatedBy>

        <CreateTime>2013-03-20T16:16:15.0Z</CreateTime>

        <LastModifiedBy>app</LastModifiedBy>

        <LastUpdatedTime>2013-04-16T15:34:44.0Z</LastUpdatedTime>

        </MetaData>

        <ExternalKey idDomain="QB">991</ExternalKey>

        <Synchronized>true</Synchronized>

        <Name>LB-AKIT-ak2-MICROUSB-v03</Name>

        <Desc>micro usb cable</Desc>

        <Taxable>true</Taxable>

        <Active>true</Active>

        <UnitPrice>

        <CurrencyCode>USD</CurrencyCode>

        <Amount>5</Amount>

        </UnitPrice>

        <Type>Product</Type>

        <IncomeAccountRef>

        <AccountId idDomain="QB">6</AccountId>

        <AccountName>Sales</AccountName>

        <AccountType>Revenue</AccountType>

        </IncomeAccountRef>

        <PurchaseCost>

        <CurrencyCode>USD</CurrencyCode>

        <Amount>0</Amount>

        </PurchaseCost>

        <ManPartNum>LB-AKIT-ak2-MICROUSB-v03</ManPartNum>

        </Item>

        <Item>

        <Id idDomain="NG">172514</Id>

        <SyncToken>3</SyncToken>

        <MetaData>

        <CreatedBy>app</CreatedBy>

        <CreateTime>2013-03-04T15:42:51.0Z</CreateTime>

        <LastModifiedBy>app</LastModifiedBy>

        <LastUpdatedTime>2013-04-16T15:34:45.0Z</LastUpdatedTime>

        </MetaData>

        <ExternalKey idDomain="QB">990</ExternalKey>

        <Synchronized>true</Synchronized>

        <Na[...]
- request:
    method: get
    uri: https://services.intuit.com/sb/account/v2/571550630
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="qyprdcG20NCyjy5jd7tKal9ivdOcbH", oauth_nonce="E29kpRaeB7NatokkN2zPsGPD0KulG3qBzsWAMX4WYU",
        oauth_signature="00uWWpzt49T2e5zoAks5ttEdElI%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1375361849", oauth_token="qyprd5T3BQ4KMbBkcsRF0UwGV298oczLuaKumJUj8IDtoPnc",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Response-App-Time:
      - '204'
      Response-Id:
      - 4778b377-6304-4347-90c7-08ac5ad59a71
      Response-Db-Time:
      - '200'
      Response-Routing-Time:
      - '209'
      Content-Type:
      - text/xml
    body:
      encoding: US-ASCII
      string: ! '<?xml version="1.0" encoding="UTF-8"?><!--XML GENERATED by IntuitDataSyncEngine
        (IDS) using \\SBDomainServices\CDM\branches\3.9.0-rel-1-->

        <RestResponse xmlns="http://www.intuit.com/sb/cdm/v2"

        xmlns:xdb          ="http://xmlns.oracle.com/xdb"

        xmlns:xsi          ="http://www.w3.org/2001/XMLSchema-instance"

        xsi:schemaLocation ="http://www.intuit.com/sb/cdm/v2 ../common/RestDataFilter.xsd"><Accounts>

        <Account>

        <Id idDomain="NG">67278</Id>

        <SyncToken>2</SyncToken>

        <MetaData>

        <CreatedBy>app</CreatedBy>

        <CreatedById>1</CreatedById>

        <CreateTime>2013-01-11T20:25:40.0Z</CreateTime>

        <LastModifiedBy>app</LastModifiedBy>

        <LastModifiedById>1</LastModifiedById>

        <LastUpdatedTime>2013-01-11T20:25:40.0Z</LastUpdatedTime>

        </MetaData>

        <ExternalKey idDomain="QB">298</ExternalKey>

        <Synchronized>true</Synchronized>

        <Name>AmEx</Name>

        <Active>true</Active>

        <Type>Revenue</Type>

        <Subtype>Income</Subtype>

        <CurrentBalance>0</CurrentBalance>

        </Account>

        <Account>

        <Id idDomain="NG">67277</Id>

        <SyncToken>2</SyncToken>

        <MetaData>

        <CreatedBy>app</CreatedBy>

        <CreatedById>1</CreatedById>

        <CreateTime>2013-01-11T20:25:33.0Z</CreateTime>

        <LastModifiedBy>app</LastModifiedBy>

        <LastModifiedById>1</LastModifiedById>

        <LastUpdatedTime>2013-01-11T20:25:33.0Z</LastUpdatedTime>

        </MetaData>

        <ExternalKey idDomain="QB">2[...]
- request:
    method: post
    uri: https://services.intuit.com/sb/item/v2/571550630
    body:
      encoding: US-ASCII
      string: ! "<Add xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\"
        RequestId=\"a7f1456990514928b8c67a1212b0063a\" xmlns=\"http://www.intuit.com/sb/cdm/v2\">\n
        \         <ExternalRealmId>571550630</ExternalRealmId>\n          <Object
        xsi:type=\"Item\">\n  <Name>Shipping Charges</Name>\n  <Desc>Shipping Charges</Desc>\n
        \ <Taxable>true</Taxable>\n  <UnitPrice>\n    <Amount>0</Amount>\n  </UnitPrice>\n
        \ <Type>Other Charge</Type>\n  <IncomeAccountRef>\n    <AccountName>Sales</AccountName>\n
        \ </IncomeAccountRef>\n  <PurchaseCost>\n    <Amount>0</Amount>\n  </PurchaseCost>\n
        \ <ExpenseAccountRef>\n    <AccountName>Sales</AccountName>\n  </ExpenseAccountRef>\n
        \ <COGSAccountRef>\n    <AccountName>Sales</AccountName>\n  </COGSAccountRef>\n
        \ <QtyOnHand>0</QtyOnHand>\n  <ManPartNum>Shipping Charges</ManPartNum>\n</Object>\n
        \         </Add>"
    headers:
      Content-Type:
      - text/xml
      Authorization:
      - OAuth oauth_body_hash="7SzR0%2F%2FoMzzZGOGwQ%2FOi%2FLhKFqM%3D", oauth_consumer_key="qyprdcG20NCyjy5jd7tKal9ivdOcbH",
        oauth_nonce="TbGuF7a4DhiEKsYLavMDJ56vOeXZqQNjQBcHEq1i4c", oauth_signature="4ooHm2XbicXMgDdn7c%2BLggUx254%3D",
        oauth_signature_method="HMAC-SHA1", oauth_timestamp="1375361852", oauth_token="qyprd5T3BQ4KMbBkcsRF0UwGV298oczLuaKumJUj8IDtoPnc",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Response-Routing-Time:
      - '174'
      Content-Type:
      - text/xml
    body:
      encoding: US-ASCII
      string: <?xml version="1.0" ?><RestResponse xmlns="http://www.intuit.com/sb/cdm/v2"><Error
        RequestId="a7f1456990514928b8c67a1212b0063a"><RequestName>ErrorRequest</RequestName><ProcessedTime>2013-08-01T12:57:32.258Z</ProcessedTime><ErrorCode>-3002</ErrorCode><ErrorDesc>sdk
        NAME must be unique in QB! name = Shipping Charges</ErrorDesc><DBErrorCode>20345</DBErrorCode></Error></RestResponse>
  recorded_at: Thu, 01 Aug 2013 12:57:32 GMT
recorded_with: VCR 2.4.0
