---
http_interactions:
- request:
    method: post
    uri: https://services.intuit.com/sb/item/v2/568190375
    body:
      encoding: US-ASCII
      string: <?xml version="1.0" encoding="utf-8"?><ItemQuery xmlns="http://www.intuit.com/sb/cdm/v2"><StartPage>1</StartPage><ChunkSize>20</ChunkSize><CustomFieldEnable>true</CustomFieldEnable></ItemQuery>
    headers:
      Content-Type:
      - text/xml
      Authorization:
      - OAuth oauth_body_hash="CHW0yCuIpdDe%2BZkqYK2AGAj9%2FAI%3D", oauth_consumer_key="qyprdcG20NCyjy5jd7tKal9ivdOcbH",
        oauth_nonce="95T730RWEhcnxFXaNF8RUfd4SKfqLo0IbZTX2DlmK6s", oauth_signature="ib%2BAmcNf5MrmA1lkjeGU1uCYR5k%3D",
        oauth_signature_method="HMAC-SHA1", oauth_timestamp="1359733437", oauth_token="qyprdUDbIJZOD8tgTynBSG0ViOLsS48KEl6cbMrHO9IrgXwT",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Response-Id:
      - e7d13ac7-e9ff-4935-bc48-3c726cf88800
      Response-App-Time:
      - '197'
      Response-Db-Time:
      - '146'
      Response-Routing-Time:
      - '272'
      Content-Type:
      - text/xml
    body:
      encoding: US-ASCII
      string: ! '<?xml version="1.0" encoding="UTF-8"?><!--XML GENERATED by IntuitDataSyncEngine
        (IDS) using \\SBDomainServices\CDM\branches\3.9.0-rel-1-->

        <RestResponse xmlns="http://www.intuit.com/sb/cdm/v2"

        xmlns:xdb          ="http://xmlns.oracle.com/xdb"

        xmlns:xsi          ="http://www.w3.org/2001/XMLSchema-instance"

        xsi:schemaLocation ="http://www.intuit.com/sb/cdm/v2 ../common/RestDataFilter.xsd"><Items>

        <Item>

        <Id idDomain="NG">32373</Id>

        <SyncToken>2</SyncToken>

        <MetaData>

        <CreatedBy>app</CreatedBy>

        <CreateTime>2013-01-08T20:35:07.0Z</CreateTime>

        <LastModifiedBy>app</LastModifiedBy>

        <LastUpdatedTime>2013-01-08T20:35:07.0Z</LastUpdatedTime>

        </MetaData>

        <ExternalKey idDomain="QB">978</ExternalKey>

        <Synchronized>true</Synchronized>

        <Name>LB-BIT-o14-BRIGHTLED-v03</Name>

        <Desc>bright led</Desc>

        <Taxable>false</Taxable>

        <Active>true</Active>

        <UnitPrice>

        <CurrencyCode>USD</CurrencyCode>

        <Amount>12</Amount>

        </UnitPrice>

        <Type>Product</Type>

        <IncomeAccountRef>

        <AccountId idDomain="QB">6</AccountId>

        <AccountName>Sales</AccountName>

        <AccountType>Revenue</AccountType>

        </IncomeAccountRef>

        <PurchaseCost>

        <CurrencyCode>USD</CurrencyCode>

        <Amount>0</Amount>

        </PurchaseCost>

        <ManPartNum>LB-BIT-o14-BRIGHTLED-v03</ManPartNum>

        </Item>

        <Item>

        <Id idDomain="NG">32372</Id>

        <SyncToken>3</SyncToken>

        <MetaData>

        <CreatedBy>app</CreatedBy>

        <CreateTime>2013-01-08T20:35:07.0Z</CreateTime>

        <LastModifiedBy>app</LastModifiedBy>

        <LastUpdatedTime>2013-01-17T19:28:12.0Z</LastUpdatedTime>

        </MetaData>

        <ExternalKey idDomain="QB">977</ExternalKey>

        <Synchronized>true</Synchronized>

        <Name>LB-BIT-w10-INVERTER-v03</Name>

        <Desc>inverter</Desc>

        <Taxable>false</Taxable>

        <Active>true</Active>

        <UnitPrice>

        <CurrencyCode>USD</CurrencyCode>

        <Amount>15</Amount>

        </UnitPrice>

        <Type>Inventory</Type>

        <IncomeAccountRef>

        <AccountId idDomain="QB">6</AccountId>

        <AccountName>Sales</AccountName>

        <AccountType>Revenue</AccountType>

        </IncomeAccountRef>

        <PurchaseCost>

        <CurrencyCode>USD</CurrencyCode>

        <Amount>0</Amount>

        </PurchaseCost>

        <COGSAccountRef>

        <AccountId idDomain="QB">88</AccountId>

        <AccountName>Cost of Goods Sold</AccountName>

        <AccountType>Expense</AccountType>

        </COGSAccountRef>

        <AssetAccountRef>

        <AccountId idDomain="QB">59</AccountId>

        <AccountName>Inventory Asset</AccountName>

        <AccountType>Asset</AccountType>

        </AssetAccountRef>

        <AvgCost>

        <CurrencyCode>USD</CurrencyCode>

        <Amount>0</Amount>

        </AvgCost>

        <QtyOnHand>-9</QtyOnHand>

        <QtyOnPurchaseOrder>0</QtyOnPurchaseOrder>

        <QtyOnSalesOrder>0</QtyOnSalesOrder>

        <ManPartNum>LB-BIT-w10-INVERTER-v03</ManPartNum>

        </Item>

        <Item>

        <Id idDomain="NG">32371</Id>

        <SyncToken>2</SyncToken>

        <MetaData>

        <CreatedBy>app</CreatedBy>

        <CreateTime>2013-01-08T20:35:07.0Z</CreateTime>

        <LastModifiedBy>app</LastModifiedBy>

        <LastUpdatedTime>2013-01-08T20:35:07.0Z</LastUpdatedTime>

        </MetaData>

        <ExternalKey idDomain="QB">976</ExternalKey>

        <Synchr[...]
