---
http_interactions:
- request:
    method: get
    uri: https://quickbooks.api.intuit.com/v3/company/<REALM>/query?query=select%20*%20from%20Vendor%20where%20DisplayName%20=%20%27Company%201%27%20STARTPOSITION%201%20MAXRESULTS%2020
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/xml
      Authorization:
      - OAuth oauth_consumer_key="oauth_consumer_key", oauth_nonce="lnmAHVSr7WSmZ1nmkIYxageO4x36pmKyWgmkASSgRE",
        oauth_signature="ucKQ1NeES4Ga%2BkW1cDZcbzJnhUQ%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1564496995", oauth_token="<TOKEN>", oauth_version="1.0"
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - text/xml
      Intuit-Tid:
      - 3002967e-9460-427a-91cc-fad21af42877
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
        <IntuitResponse time="2019-07-30T07:29:55.730-07:00" xmlns="http://schema.intuit.com/finance/v3">
            <Fault type="AUTHENTICATION">
                <Error code="3200">
                    <Message>message=ApplicationAuthenticationFailed; errorCode=003200; statusCode=401</Message>
                </Error>
            </Fault>
        </IntuitResponse>
  recorded_at: Tue, 30 Jul 2019 14:29:55 GMT
recorded_with: VCR 4.0.0
