---
http_interactions:
- request:
    method: get
    uri: https://qb.sbfinance.intuit.com/v3/company/1014843225/query?query=SELECT%20*%20FROM%20PaymentMethod%20WHERE%20Name%20=%20'Discover'%20STARTPOSITION%201%20MAXRESULTS%2020
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/xml
      Authorization:
      - OAuth oauth_consumer_key="qyprdcG20NCyjy5jd7tKal9ivdOcbH", oauth_nonce="Y9MhkwfCxl5Sl0ZCBIY0W1yw5SjysXKrbibsGlF9Pw",
        oauth_signature="e2bVyN6AeOdg180I1nDBNRPjWtY%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1386902115", oauth_token="qyprdINz6x1Qccyyj7XjELX7qxFBE9CSTeNLmbPYb7oMoktC",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Qbo-Version:
      - '68.147'
      Intuit-Tid:
      - 6189e70f-2d73-47ff-939f-67fc8e8ea10e
      Content-Type:
      - application/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8" standalone="yes"?><IntuitResponse
        xmlns="http://schema.intuit.com/finance/v3" time="2013-12-12T18:35:17.186-08:00"><QueryResponse
        startPosition="1" maxResults="1"><PaymentMethod domain="QBO" sparse="false"><Id>7</Id><SyncToken>0</SyncToken><MetaData><CreateTime>2013-12-09T10:44:18-08:00</CreateTime><LastUpdatedTime>2013-12-09T10:44:18-08:00</LastUpdatedTime></MetaData><Name>Discover</Name><Active>true</Active><Type>CREDIT_CARD</Type></PaymentMethod></QueryResponse></IntuitResponse>
  recorded_at: Fri, 13 Dec 2013 02:35:17 GMT
- request:
    method: get
    uri: https://qb.sbfinance.intuit.com/v3/company/1014843225/query?query=SELECT%20*%20FROM%20Customer%20WHERE%20DisplayName%20=%20'Brian%20Quinn'%20STARTPOSITION%201%20MAXRESULTS%2020
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/xml
      Authorization:
      - OAuth oauth_consumer_key="qyprdcG20NCyjy5jd7tKal9ivdOcbH", oauth_nonce="l6KJ9QklSxqW6WzU7xnJ6JDlKguZp1QO77Ezhkauls",
        oauth_signature="TJAY5W0TAVBlMQee%2Ber4Uq2sWjo%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1386902117", oauth_token="qyprdINz6x1Qccyyj7XjELX7qxFBE9CSTeNLmbPYb7oMoktC",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Qbo-Version:
      - '68.147'
      Intuit-Tid:
      - a115c160-d70b-420b-a870-ec6c28d7ba8e
      Content-Type:
      - application/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8" standalone="yes"?><IntuitResponse
        xmlns="http://schema.intuit.com/finance/v3" time="2013-12-12T18:35:18.364-08:00"><QueryResponse
        startPosition="1" maxResults="1"><Customer domain="QBO" sparse="false"><Id>5</Id><SyncToken>0</SyncToken><MetaData><CreateTime>2013-12-12T10:40:46-08:00</CreateTime><LastUpdatedTime>2013-12-12T10:40:46-08:00</LastUpdatedTime></MetaData><GivenName>Brian</GivenName><FamilyName>Quinn</FamilyName><FullyQualifiedName>Brian
        Quinn</FullyQualifiedName><DisplayName>Brian Quinn</DisplayName><PrintOnCheckName>Brian
        Quinn</PrintOnCheckName><Active>true</Active><PrimaryEmailAddr><Address>spree@example.com</Address></PrimaryEmailAddr><Taxable>false</Taxable><BillAddr><Id>11</Id><Line1>7735
        Old Georgetown Rd</Line1><City>Bethesda</City><Country>US</Country><CountrySubDivisionCode>Maryland</CountrySubDivisionCode><PostalCode>20814</PostalCode><Lat>38.987477</Lat><Long>-77.097917</Long></BillAddr><ShipAddr><Id>12</Id><Line1>7735
        Old Georgetown Rd</Line1><City>Bethesda</City><Country>US</Country><CountrySubDivisionCode>Maryland</CountrySubDivisionCode><PostalCode>20814</PostalCode><Lat>38.987477</Lat><Long>-77.097917</Long></ShipAddr><Job>false</Job><BillWithParent>false</BillWithParent><Balance>0</Balance><BalanceWithJobs>0</BalanceWithJobs><CurrencyRef
        name="Brazilian Real">BRL</CurrencyRef><PreferredDeliveryMethod>Email</PreferredDeliveryMethod></Customer></QueryResponse></IntuitResponse>
  recorded_at: Fri, 13 Dec 2013 02:35:18 GMT
- request:
    method: get
    uri: https://qb.sbfinance.intuit.com/v3/company/1014843225/query?query=select%20*%20from%20Account%20where%20Name%20=%20'Inventory%20Asset'%20STARTPOSITION%201%20MAXRESULTS%2020
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/xml
      Authorization:
      - OAuth oauth_consumer_key="qyprdcG20NCyjy5jd7tKal9ivdOcbH", oauth_nonce="40jCcFI0KMXQFvhOZwswq94DDiLitNegjXUhEJbmdo",
        oauth_signature="vdpzjvQfMfCk2dcbdHuRCiVym5o%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1386902118", oauth_token="qyprdINz6x1Qccyyj7XjELX7qxFBE9CSTeNLmbPYb7oMoktC",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Qbo-Version:
      - '68.147'
      Intuit-Tid:
      - b2026826-745c-41ac-8118-1fa1b7da2664
      Content-Type:
      - application/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8" standalone="yes"?><IntuitResponse
        xmlns="http://schema.intuit.com/finance/v3" time="2013-12-12T18:35:19.588-08:00"><QueryResponse
        startPosition="1" maxResults="1"><Account domain="QBO" sparse="false"><Id>76</Id><SyncToken>0</SyncToken><MetaData><CreateTime>2013-12-09T21:18:37-08:00</CreateTime><LastUpdatedTime>2013-12-12T18:12:06-08:00</LastUpdatedTime></MetaData><Name>Inventory
        Asset</Name><SubAccount>false</SubAccount><FullyQualifiedName>Inventory Asset</FullyQualifiedName><Active>true</Active><Classification>Asset</Classification><AccountType>Other
        Current Asset</AccountType><AccountSubType>Inventory</AccountSubType><CurrentBalance>429.80</CurrentBalance><CurrentBalanceWithSubAccounts>429.80</CurrentBalanceWithSubAccounts><CurrencyRef
        name="Brazilian Real">BRL</CurrencyRef></Account></QueryResponse></IntuitResponse>
  recorded_at: Fri, 13 Dec 2013 02:35:20 GMT
- request:
    method: get
    uri: https://qb.sbfinance.intuit.com/v3/company/1014843225/query?query=select%20*%20from%20Item%20where%20Name%20=%20'SPR-00001'%20STARTPOSITION%201%20MAXRESULTS%2020
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/xml
      Authorization:
      - OAuth oauth_consumer_key="qyprdcG20NCyjy5jd7tKal9ivdOcbH", oauth_nonce="saqs0iXP4lVom3DTvajdWWBxfflhUEaWhOpdWcJO2m0",
        oauth_signature="2GS5rgVWXkH%2FRY0FXszvMu04RU4%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1386902120", oauth_token="qyprdINz6x1Qccyyj7XjELX7qxFBE9CSTeNLmbPYb7oMoktC",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Qbo-Version:
      - '68.147'
      Intuit-Tid:
      - 5894d538-f828-4430-b028-6157a15cadf6
      Content-Type:
      - application/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8" standalone="yes"?><IntuitResponse
        xmlns="http://schema.intuit.com/finance/v3" time="2013-12-12T18:35:21.123-08:00"><QueryResponse
        startPosition="1" maxResults="1"><Item domain="QBO" sparse="false"><Id>4</Id><SyncToken>0</SyncToken><MetaData><CreateTime>2013-12-12T18:03:28-08:00</CreateTime><LastUpdatedTime>2013-12-12T18:03:28-08:00</LastUpdatedTime></MetaData><Name>SPR-00001</Name><Description>Spree
        Baseball Jersey</Description><Active>true</Active><FullyQualifiedName>SPR-00001</FullyQualifiedName><Taxable>false</Taxable><SalesTaxIncluded>false</SalesTaxIncluded><UnitPrice>19.99</UnitPrice><Type>Service</Type><PurchaseTaxIncluded>false</PurchaseTaxIncluded><PurchaseCost>0</PurchaseCost><TrackQtyOnHand>false</TrackQtyOnHand></Item></QueryResponse></IntuitResponse>
  recorded_at: Fri, 13 Dec 2013 02:35:21 GMT
- request:
    method: get
    uri: https://qb.sbfinance.intuit.com/v3/company/1014843225/query?query=select%20*%20from%20Item%20where%20Name%20=%20'ROR-00004'%20STARTPOSITION%201%20MAXRESULTS%2020
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/xml
      Authorization:
      - OAuth oauth_consumer_key="qyprdcG20NCyjy5jd7tKal9ivdOcbH", oauth_nonce="LDRUCLBXPUev0wTdUwf2Gogcw5dXhna99nvVKkS1Yk",
        oauth_signature="ZseO5QTaUXGeIKOjtyJt0G[...]
- request:
    method: get
    uri: https://qb.sbfinance.intuit.com/v3/company/1014843225/query?query=select%20*%20from%20Item%20where%20Name%20=%20'Shipping%20Charges'%20STARTPOSITION%201%20MAXRESULTS%2020
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/xml
      Authorization:
      - OAuth oauth_consumer_key="qyprdcG20NCyjy5jd7tKal9ivdOcbH", oauth_nonce="D3MqC3b46RgsB1fzWEQPPAOIyBQRaMCCwJ5JQOmcPM",
        oauth_signature="s0%2BWvmgM%2B[...]
[...]
- request:
    method: get
    uri: https://qb.sbfinance.intuit.com/v3/company/1014843225/query?query=select%20*%20from%20Item%20where%20Name%20=%20'State%20Sales%20Tax-NY'%20STARTPOSITION%201%20MAXRESULTS%2020
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/xml
      Authorization:
      - OAuth oauth_consumer_key="qyprdcG20NCyjy5jd7tKal9ivdOcbH", oauth_nonce="seZRlKgNw2ow7FEfopKZcYHb7l6GKTCj3EGre6ZDDvA",
        oauth_signature="TJ0TwLd2[...]
- request:
    method: post
    uri: https://qb.sbfinance.intuit.com/v3/company/1014843225/salesreceipt
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="utf-8"?>
        <SalesReceipt xmlns="http://schema.intuit.com/finance/v3" sparse="false">
        <DocNumber>R181807170</DocNumber>
        <TxnDate>2013-07-30T19:19:5Z</TxnDate>
        <Line>
        <Description>Spree Baseball Jersey</Description>
        <Amount>39.98</Amount>
        <DetailType>SalesItemLineDetail</DetailType>
        <SalesItemLineDetail>
        <ItemRef>4</ItemRef>
        <UnitPrice>19.99</UnitPrice>
        <Qty>2</Qty>
        </SalesItemLineDetail>
        </Line>
        <Line>
        <Description>Ruby on Rails Baseball Jersey</Description>
        <Amount>59.97</Amount>
        <DetailType>SalesItemLineDetail</DetailType>
        <SalesItemLineDetail>
        <ItemRef>5</ItemRef>
        <UnitPrice>19.99</UnitPrice>
        <Qty>3</Qty>
        </SalesItemLineDetail>
        </Line>
        <Line>
        <Description>Shipping</Description>
        <Amount>5.0</Amount>
        <DetailType>SalesItemLineDetail</DetailType>
        <SalesItemLineDetail>
        <ItemRef>6</ItemRef>
        <UnitPrice>5.0</UnitPrice>
        <Qty>1</Qty>
        </SalesItemLineDetail>
        </Line>
        <Line>
        <Description>Shipping</Description>
        <Amount>5.0</Amount>
        <DetailType>SalesItemLineDetail</DetailType>
        <SalesItemLineDetail>
        <ItemRef>6</ItemRef>
        <UnitPrice>5.0</UnitPrice>
        <Qty>1</Qty>
        </SalesItemLineDetail>
        </Line>
        <Line>
        <Description>North America 5.0</Description>
        <Amount>5.0</Amount>
        <DetailType>SalesItemLineDetail</DetailType>
        <SalesItemLineDetail>
        <ItemRef>7</ItemRef>
        <UnitPrice>5.0</UnitPrice>
        <Qty>1</Qty>
        </SalesItemLineDetail>
        </Line>
        <CustomerRef>5</CustomerRef>
        <BillAddr>
        <Line1>7735 Old Georgetown Rd</Line1>
        <Line2/>
        <City>Bethesda</City>
        <Country>US</Country>
        <CountrySubDivisionCode>Maryland</CountrySubDivisionCode>
        <PostalCode>20814</PostalCode>
        </BillAddr>
        <ShipAddr>
        <Line1>7735 Old Georgetown Rd</Line1>
        <Line2/>
        <City>Bethesda</City>
        <Country>US</Country>
        <CountrySubDivisionCode>Maryland</CountrySubDivisionCode>
        <PostalCode>20814</PostalCode>
        </ShipAddr>
        <PaymentMethodRef>7</PaymentMethodRef>
        <DepositToAccountRef>76</DepositToAccountRef>
        <TotalAmt>114.95</TotalAmt>
        </SalesReceipt>
    headers:
      Content-Type:
      - application/xml
      Authorization:
      - OAuth oauth_body_hash="iZwXYTHAjxeBTy6IicQ0I2xnASw%3D", oauth_consumer_key="qyprdcG20NCyjy5jd7tKal9ivdOcbH",
        oauth_nonce="VxVVgV2mIrUbmHWKjR5kM7MyRT71cV5qRg3Zh5Buyc", oauth_signature="3kqnokKYwp%2FP5PNgqVW1khSdwYY%3D",
        oauth_signature_method="HMAC-SHA1", oauth_timestamp="1386902126", oauth_token="qyprdINz6x1Qccyyj7XjELX7qxFBE9CSTeNLmbPYb7oMoktC",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Qbo-Version:
      - '68.147'
      Intuit-Tid:
      - 3295f6e6-1ffb-4bfb-8c8d-1c1661efc83d
      Content-Type:
      - application/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8" standalone="yes"?><IntuitResponse
        xmlns="http://schema.intuit.com/finance/v3" time="2013-12-12T18:35:27.076-08:00"><SalesReceipt
        domain="QBO" sparse="false"><Id>15</Id><SyncToken>0</SyncToken><MetaData><CreateTime>2013-12-12T18:35:27-08:00</CreateTime><LastUpdatedTime>2013-12-12T18:35:27-08:00</LastUpdatedTime></MetaData><DocNumber>R181807170</DocNumber><TxnDate>2013-07-30</TxnDate><CurrencyRef
        name="Brazilian Real">BRL</CurrencyRef><Line><Id>1</Id><LineNum>1</LineNum><Description>Spree
        Baseball Jersey</Description><Amount>39.98</Amount><DetailType>SalesItemLineDetail</DetailType><SalesItemLineDetail><ItemRef
        name="SPR-00001">4</ItemRef><UnitPrice>19.99</UnitPrice><Qty>2</Qty></SalesItemLineDetail></Line><Line><Id>2</Id><LineNum>2</LineNum><Description>Ruby
        on Rails Baseball Jersey</Description><Amount>59.97</Amount><DetailType>SalesItemLineDetail</DetailType><SalesItemLineDetail><ItemRef
        name="ROR-00004">5</ItemRef>[...]
