---
http_interactions:
- request:
    method: get
    uri: https://qb.sbfinance.intuit.com/v3/company/1014843225/query?query=SELECT%20DocNumber%20FROM%20SalesReceipt%20WHERE%20DocNumber%20=%20'R136780'%20STARTPOSITION%201%20MAXRESULTS%2020
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/xml
      Authorization:
      - OAuth oauth_consumer_key="qyprdcG20NCyjy5jd7tKal9ivdOcbH", oauth_nonce="VUes45uZdTsvHtAPadtbMgSF2cDIziqVSRXvhkNRLU0",
        oauth_signature="a6%2Bz33XBTjCZzQtbL56otAapKuk%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1387222603", oauth_token="qyprdINz6x1Qccyyj7XjELX7qxFBE9CSTeNLmbPYb7oMoktC",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Qbo-Version:
      - '68.147'
      Intuit-Tid:
      - 4eea308e-7979-4a66-94e5-eabd7ba47199
      Content-Type:
      - application/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8" standalone="yes"?><IntuitResponse
        xmlns="http://schema.intuit.com/finance/v3" time="2013-12-16T11:36:45.480-08:00"><QueryResponse/></IntuitResponse>
  recorded_at: Mon, 16 Dec 2013 19:36:45 GMT
- request:
    method: get
    uri: https://qb.sbfinance.intuit.com/v3/company/1014843225/query?query=SELECT%20*%20FROM%20PaymentMethod%20WHERE%20Name%20=%20'Visa'%20STARTPOSITION%201%20MAXRESULTS%2020
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/xml
      Authorization:
      - OAuth oauth_consumer_key="qyprdcG20NCyjy5jd7tKal9ivdOcbH", oauth_nonce="JbDZXKxFZ9ZmGDeRK1TNDpDzTGyLdnAtqNCCqVC1E",
        oauth_signature="KVuxm7O7RP8JtCvYdqlOLu8FL%2Bc%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1387222605", oauth_token="qyprdINz6x1Qccyyj7XjELX7qxFBE9CSTeNLmbPYb7oMoktC",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Qbo-Version:
      - '68.147'
      Intuit-Tid:
      - a741b35a-85e5-415b-b9a6-8b6558ca9678
      Content-Type:
      - application/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8" standalone="yes"?><IntuitResponse
        xmlns="http://schema.intuit.com/finance/v3" time="2013-12-16T11:36:46.803-08:00"><QueryResponse
        startPosition="1" maxResults="1"><PaymentMethod domain="QBO" sparse="false"><Id>3</Id><SyncToken>0</SyncToken><MetaData><CreateTime>2013-12-09T10:44:18-08:00</CreateTime><LastUpdatedTime>2013-12-09T10:44:18-08:00</LastUpdatedTime></MetaData><Name>Visa</Name><Active>true</Active><Type>CREDIT_CARD</Type></PaymentMethod></QueryResponse></IntuitResponse>
  recorded_at: Mon, 16 Dec 2013 19:36:47 GMT
- request:
    method: get
    uri: https://qb.sbfinance.intuit.com/v3/company/1014843225/query?query=SELECT%20*%20FROM%20Customer%20WHERE%20DisplayName%20=%20'Brian%20Quinn'%20STARTPOSITION%201%20MAXRESULTS%2020
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/xml
      Authorization:
      - OAuth oauth_consumer_key="qyprdcG20NCyjy5jd7tKal9ivdOcbH", oauth_nonce="8stw3JPR79S64WTnrYCxnIXbuzvSumkIS1d4S7Q0",
        oauth_signature="0B2Wk7fPT5hBVGpObRnqXRSTIC8%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1387222607", oauth_token="qyprdINz6x1Qccyyj7XjELX7qxFBE9CSTeNLmbPYb7oMoktC",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Qbo-Version:
      - '68.147'
      Intuit-Tid:
      - 789aaad5-1ee5-4960-83ce-77e6e2959068
      Content-Type:
      - application/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8" standalone="yes"?><IntuitResponse
        xmlns="http://schema.intuit.com/finance/v3" time="2013-12-16T11:36:48.031-08:00"><QueryResponse
        startPosition="1" maxResults="1"><Customer domain="QBO" sparse="false"><Id>5</Id><SyncToken>0</SyncToken><MetaData><CreateTime>2013-12-12T10:40:46-08:00</CreateTime><LastUpdatedTime>2013-12-12T10:40:46-08:00</LastUpdatedTime></MetaData><GivenName>Brian</GivenName><FamilyName>Quinn</FamilyName><FullyQualifiedName>Brian
        Quinn</FullyQualifiedName><DisplayName>Brian Quinn</DisplayName><PrintOnCheckName>Brian
        Quinn</PrintOnCheckName><Active>true</Active><PrimaryEmailAddr><Address>spree@example.com</Address></PrimaryEmailAddr><Taxable>false</Taxable><BillAddr><Id>11</Id><Line1>7735
        Old Georgetown Rd</Line1><City>Bethesda</City><Country>US</Country><CountrySubDivisionCode>Maryland</CountrySubDivisionCode><PostalCode>20814</PostalCode><Lat>38.987477</Lat><Long>-77.097917</Long></BillAddr><ShipAddr><Id>12</Id><Line1>7735
        Old Georgetown Rd</Line1><City>Bethesda</City><Country>US</Country><CountrySubDivisionCode>Maryland</CountrySubDivisionCode><PostalCode>20814</PostalCode><Lat>38.987477</Lat><Long>-77.097917</Long></ShipAddr><Job>false</Job><BillWithParent>false</BillWithParent><Balance>0</Balance><BalanceWithJobs>0</BalanceWithJobs><CurrencyRef
        name="Brazilian Real">BRL</CurrencyRef><PreferredDeliveryMethod>Email</PreferredDeliveryMethod></Customer></QueryResponse></IntuitResponse>
  recorded_at: Mon, 16 Dec 2013 19:36:48 GMT
- request:
    method: get
    uri: https://qb.sbfinance.intuit.com/v3/company/1014843225/query?query=select%20*%20from%20Account%20where%20Name%20=%20'Inventory%20Asset'%20STARTPOSITION%201%20MAXRESULTS%2020
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/xml
      Authorization:
      - OAuth oauth_consumer_key="qyprdcG20NCyjy5jd7tKal9ivdOcbH", oauth_nonce="afdKAuzSEd4LJTRfaH9qa01sVWzFAO3ieX24mBo",
        oauth_signature="7z%2B%2BWzg0z0V1meE8lv0u5pL1x8Q%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1387222608", oauth_token="qyprdINz6x1Qccyyj7XjELX7qxFBE9CSTeNLmbPYb7oMoktC",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Qbo-Version:
      - '68.147'
      Intuit-Tid:
      - 1a9cd414-6c76-4d0d-9344-e5a9e088dd27
      Content-Type:
      - application/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8" standalone="yes"?><IntuitResponse
        xmlns="http://schema.intuit.com/finance/v3" time="2013-12-16T11:36:49.210-08:00"><QueryResponse
        startPosition="1" maxResults="1"><Account domain="QBO" sparse="false"><Id>76</Id><SyncToken>0</SyncToken><MetaData><CreateTime>2013-12-09T21:18:37-08:00</CreateTime><LastUpdatedTime>2013-12-16T11:18:52-08:00</LastUpdatedTime></MetaData><Name>Inventory
        Asset</Name><SubAccount>false</SubAccount><FullyQualifiedName>Inventory Asset</FullyQualifiedName><Active>true</Active><Classification>Asset</Classification><AccountType>Other
        Current Asset</AccountType><AccountSubType>Inventory</AccountSubType><CurrentBalance>929.55</CurrentBalance><CurrentBalanceWithSubAccounts>929.55</CurrentBalanceWithSubAccounts><CurrencyRef
        name="Brazilian Real">BRL</CurrencyRef></Account></QueryResponse></IntuitResponse>
  recorded_at: Mon, 16 Dec 2013 19:36:49 GMT
- request:
    method: get
    uri: https://qb.sbfinance.intuit.com/v3/company/1014843225/query?query=select%20*%20from%20Item%20where%20Name%20=%20'SPR-00001'%20STARTPOSITION%201%20MAXRESULTS%2020
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/xml
      Authorization:
      - OAuth oauth_consumer_key="qyprdcG20NCyjy5jd7tKal9ivdOcbH", oauth_nonce="nJdGnYbTO0RCfQtw2xOuFQZRC6UCbB2VhRPjZT34rE",
        oauth_signature="gk5m680I%2Bz78eRR6jHUeSzH25Nk%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1387222609", oauth_token="qyprdINz6x1Qccyyj7XjELX7qxFBE9CSTeNLmbPYb7oMoktC",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Qbo-Version:
      - '68.147'
      Intuit-Tid:
      - db3d943b-d9ec-4867-96cc-7635dd68a588
      Content-Type:
      - application/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8" standalone="yes"?><IntuitResponse
        xmlns="http://schema.intuit.com/finance/v3" time="2013-12-16T11:36:50.495-08:00"><QueryResponse
        startPosition="1" maxResults="1"><Item domain="QBO" sparse="false"><Id>4</Id><SyncToken>0</SyncToken><MetaData><CreateTime>2013-12-12T18:03:28-08:00</CreateTime><LastUpdatedTime>2013-12-12T18:03:28-08:00</LastUpdatedTime></MetaData><Name>SPR-00001</Name><Description>Spree
        Baseball Jersey</Description><Active>true</Active><FullyQualifiedName>SPR-00001</FullyQualifiedName><Taxable>false</Taxable><SalesTaxIncluded>false</SalesTaxIncluded><UnitPrice>19.99</UnitPrice><Type>Service</Type><PurchaseTaxIncluded>false</PurchaseTaxIncluded><PurchaseCost>0</PurchaseCost><TrackQtyOnHand>false</TrackQtyOnHand></Item></QueryResponse></IntuitResponse>
  recorded_at: Mon, 16 Dec 2013 19:36:51 GMT
- request:
    method: get
    uri: https://qb.sbfinance.intuit.com/v3/company/1014843225/query?query=select%20*%20from%20Item%20where%20Name%20=%20'ROR-00004'%20STARTPOSITION%201%20MAXRESULTS%2020
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/xml
      Authorization:
      - OAuth oauth_consumer_key="qyprdcG20NCyjy5jd7tKal9ivdOcbH", oauth_nonce="deLwdURVQncAtRGO5TfdMtS2ODu9YyYcCkkOr6144o",
        oauth_signature="qCP2BpHMv3ipz5hFohHJY1[...]
- request:
    method: get
    uri: https://qb.sbfinance.intuit.com/v3/company/1014843225/query?query=select%20*%20from%20Item%20where%20Name%20=%20'Shipping%20Charges'%20STARTPOSITION%201%20MAXRESULTS%2020
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/xml
      Authorization:
      - OAuth oauth_consumer_key="qyprdcG20NCyjy5jd7tKal9ivdOcbH", oauth_nonce="HNEcrkZTPK9Rv4AXJDqXCTl3nhAXG2hH3HpjWpZZg",
        oauth_signature="3oeUxtxuvhIorV[...]
[...]
- request:
    method: get
    uri: https://qb.sbfinance.intuit.com/v3/company/1014843225/query?query=select%20*%20from%20Item%20where%20Name%20=%20'State%20Sales%20Tax-NY'%20STARTPOSITION%201%20MAXRESULTS%2020
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/xml
      Authorization:
      - OAuth oauth_consumer_key="qyprdcG20NCyjy5jd7tKal9ivdOcbH", oauth_nonce="DPuzZUFZvkfb0zuegtDTIL140GNCpMEA2yxmnPlHPA",
        oauth_signature="qIh1b2PYE[...]
- request:
    method: post
    uri: https://qb.sbfinance.intuit.com/v3/company/1014843225/salesreceipt
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="utf-8"?>
        <SalesReceipt xmlns="http://schema.intuit.com/finance/v3" sparse="false">
        <DocNumber>R136780</DocNumber>
        <TxnDate>2013-12-16 14:51:18 -0300</TxnDate>
        <Line>
        <Description>Spree Baseball Jersey</Description>
        <Amount>39.98</Amount>
        <DetailType>SalesItemLineDetail</DetailType>
        <SalesItemLineDetail>
        <ItemRef>4</ItemRef>
        <UnitPrice>19.99</UnitPrice>
        <Qty>2</Qty>
        </SalesItemLineDetail>
        </Line>
        <Line>
        <Description>Ruby on Rails Baseball Jersey</Description>
        <Amount>59.97</Amount>
        <DetailType>SalesItemLineDetail</DetailType>
        <SalesItemLineDetail>
        <ItemRef>5</ItemRef>
        <UnitPrice>19.99</UnitPrice>
        <Qty>3</Qty>
        </SalesItemLineDetail>
        </Line>
        <Line>
        <Description>Shipping</Description>
        <Amount>5.0</Amount>
        <DetailType>SalesItemLineDetail</DetailType>
        <SalesItemLineDetail>
        <ItemRef>6</ItemRef>
        <UnitPrice>5.0</UnitPrice>
        <Qty>1</Qty>
        </SalesItemLineDetail>
        </Line>
        <Line>
        <Description>Shipping</Description>
        <Amount>5.0</Amount>
        <DetailType>SalesItemLineDetail</DetailType>
        <SalesItemLineDetail>
        <ItemRef>6</ItemRef>
        <UnitPrice>5.0</UnitPrice>
        <Qty>1</Qty>
        </SalesItemLineDetail>
        </Line>
        <Line>
        <Description>North America 5.0</Description>
        <Amount>5.0</Amount>
        <DetailType>SalesItemLineDetail</DetailType>
        <SalesItemLineDetail>
        <ItemRef>7</ItemRef>
        <UnitPrice>5.0</UnitPrice>
        <Qty>1</Qty>
        </SalesItemLineDetail>
        </Line>
        <CustomerRef>5</CustomerRef>
        <BillAddr>
        <Line1>7735 Old Georgetown Rd</Line1>
        <Line2/>
        <City>Bethesda</City>
        <Country>US</Country>
        <CountrySubDivisionCode>Maryland</CountrySubDivisionCode>
        <PostalCode>20814</PostalCode>
        </BillAddr>
        <ShipAddr>
        <Line1>7735 Old Georgetown Rd</Line1>
        <Line2/>
        <City>Bethesda</City>
        <Country>US</Country>
        <CountrySubDivisionCode>Maryland</CountrySubDivisionCode>
        <PostalCode>20814</PostalCode>
        </ShipAddr>
        <PaymentMethodRef>3</PaymentMethodRef>
        <DepositToAccountRef>76</DepositToAccountRef>
        <TotalAmt>114.95</TotalAmt>
        </SalesReceipt>
    headers:
      Content-Type:
      - application/xml
      Authorization:
      - OAuth oauth_body_hash="zljjnlAlrY3EVAt8sqVD6YDqiaI%3D", oauth_consumer_key="qyprdcG20NCyjy5jd7tKal9ivdOcbH",
        oauth_nonce="MXI7d7tx3zmzCUcIW8bIUk6aquSsTAKskeij6PdM", oauth_signature="RngeOEZR5otctoYgfSMLXrnfmVo%3D",
        oauth_signature_method="HMAC-SHA1", oauth_timestamp="1387222617", oauth_token="qyprdINz6x1Qccyyj7XjELX7qxFBE9CSTeNLmbPYb7oMoktC",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Qbo-Version:
      - '68.147'
      Intuit-Tid:
      - ad7251c1-858c-4df7-ae90-2b9952f8b9d8
      Content-Type:
      - application/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8" standalone="yes"?><IntuitResponse
        xmlns="http://schema.intuit.com/finance/v3" time="2013-12-16T11:36:59.380-08:00"><SalesReceipt
        domain="QBO" sparse="false"><Id>21</Id><SyncToken>0</SyncToken><MetaData><CreateTime>2013-12-16T11:37:00-08:00</CreateTime><LastUpdatedTime>2013-12-16T11:37:00-08:00</LastUpdatedTime></MetaData><DocNumber>R136780</DocNumber><TxnDate>2013-12-16</TxnDate><CurrencyRef
        name="Brazilian Real">BRL</CurrencyRef><Line><Id>1</Id><LineNum>1</LineNum><Description>Spree
        Baseball Jersey</Description><Amount>39.98</Amount><DetailType>SalesItemLineDetail</DetailType><SalesItemLineDetail><ItemRef
        name="SPR-00001">4</ItemRef><UnitPrice>19.99</UnitPrice><Qty>2</Qty></SalesItemLineDetail></Line><Line><Id>2</Id><LineNum>2</LineNum><Description>Ruby
        on Rails Baseball Jersey</Description><Amount>59.97</Amount><DetailType>SalesItemLineDetail</DetailType><SalesItemLineDetail><ItemRef
        name="ROR-00004">5</ItemRef>[...]
