---
http_interactions:
- request:
    method: get
    uri: https://qb.sbfinance.intuit.com/v3/company/1014843225/query?query=SELECT%20DocNumber%20FROM%20SalesReceipt%20WHERE%20DocNumber%20=%20'R44534534245'%20STARTPOSITION%201%20MAXRESULTS%2020
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/xml
      Authorization:
      - OAuth oauth_consumer_key="qyprdcG20NCyjy5jd7tKal9ivdOcbH", oauth_nonce="tuYnJtap0FmZgtPW99djyhUhrlm8rj3Z8ZZ78xR8Xs",
        oauth_signature="gD0Na6mxhYxqVUBC9XG%2FdooJ8eE%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1387223492", oauth_token="qyprdINz6x1Qccyyj7XjELX7qxFBE9CSTeNLmbPYb7oMoktC",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Qbo-Version:
      - '68.147'
      Intuit-Tid:
      - e810a897-3b05-4f38-a4e3-aeb2096f1d8e
      Content-Type:
      - application/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8" standalone="yes"?><IntuitResponse
        xmlns="http://schema.intuit.com/finance/v3" time="2013-12-16T11:51:34.525-08:00"><QueryResponse/></IntuitResponse>
  recorded_at: Mon, 16 Dec 2013 19:51:34 GMT
- request:
    method: get
    uri: https://qb.sbfinance.intuit.com/v3/company/1014843225/query?query=SELECT%20*%20FROM%20PaymentMethod%20WHERE%20Name%20=%20'Visa'%20STARTPOSITION%201%20MAXRESULTS%2020
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/xml
      Authorization:
      - OAuth oauth_consumer_key="qyprdcG20NCyjy5jd7tKal9ivdOcbH", oauth_nonce="qHpAy9XA9HX9DXiaOcAwIeBCH86r1M0m4zzrDhfLa0",
        oauth_signature="kzo%2Fya9guJETm1F%2BZQ1sfdwS8%2B0%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1387223494", oauth_token="qyprdINz6x1Qccyyj7XjELX7qxFBE9CSTeNLmbPYb7oMoktC",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Qbo-Version:
      - '68.147'
      Intuit-Tid:
      - 2b0a74bb-813a-4ea7-96bd-83590f359e72
      Content-Type:
      - application/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8" standalone="yes"?><IntuitResponse
        xmlns="http://schema.intuit.com/finance/v3" time="2013-12-16T11:51:35.629-08:00"><QueryResponse
        startPosition="1" maxResults="1"><PaymentMethod domain="QBO" sparse="false"><Id>3</Id><SyncToken>0</SyncToken><MetaData><CreateTime>2013-12-09T10:44:18-08:00</CreateTime><LastUpdatedTime>2013-12-09T10:44:18-08:00</LastUpdatedTime></MetaData><Name>Visa</Name><Active>true</Active><Type>CREDIT_CARD</Type></PaymentMethod></QueryResponse></IntuitResponse>
  recorded_at: Mon, 16 Dec 2013 19:51:35 GMT
- request:
    method: get
    uri: https://qb.sbfinance.intuit.com/v3/company/1014843225/query?query=SELECT%20*%20FROM%20Customer%20WHERE%20DisplayName%20=%20'Brian%20Quinn'%20STARTPOSITION%201%20MAXRESULTS%2020
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/xml
      Authorization:
      - OAuth oauth_consumer_key="qyprdcG20NCyjy5jd7tKal9ivdOcbH", oauth_nonce="007QPmlnPyWKeR8n1KVaaTjPc9oQmDR7lKCrutacc",
        oauth_signature="ziUr03ZokS16PRKMfRfX%2BTaKZnY%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1387223495", oauth_token="qyprdINz6x1Qccyyj7XjELX7qxFBE9CSTeNLmbPYb7oMoktC",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Qbo-Version:
      - '68.147'
      Intuit-Tid:
      - 1d99b188-e762-4a16-8358-f18a88a7a4a8
      Content-Type:
      - application/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8" standalone="yes"?><IntuitResponse
        xmlns="http://schema.intuit.com/finance/v3" time="2013-12-16T11:51:36.771-08:00"><QueryResponse
        startPosition="1" maxResults="1"><Customer domain="QBO" sparse="false"><Id>5</Id><SyncToken>0</SyncToken><MetaData><CreateTime>2013-12-12T10:40:46-08:00</CreateTime><LastUpdatedTime>2013-12-12T10:40:46-08:00</LastUpdatedTime></MetaData><GivenName>Brian</GivenName><FamilyName>Quinn</FamilyName><FullyQualifiedName>Brian
        Quinn</FullyQualifiedName><DisplayName>Brian Quinn</DisplayName><PrintOnCheckName>Brian
        Quinn</PrintOnCheckName><Active>true</Active><PrimaryEmailAddr><Address>spree@example.com</Address></PrimaryEmailAddr><Taxable>false</Taxable><BillAddr><Id>11</Id><Line1>7735
        Old Georgetown Rd</Line1><City>Bethesda</City><Country>US</Country><CountrySubDivisionCode>Maryland</CountrySubDivisionCode><PostalCode>20814</PostalCode><Lat>38.987477</Lat><Long>-77.097917</Long></BillAddr><ShipAddr><Id>12</Id><Line1>7735
        Old Georgetown Rd</Line1><City>Bethesda</City><Country>US</Country><CountrySubDivisionCode>Maryland</CountrySubDivisionCode><PostalCode>20814</PostalCode><Lat>38.987477</Lat><Long>-77.097917</Long></ShipAddr><Job>false</Job><BillWithParent>false</BillWithParent><Balance>0</Balance><BalanceWithJobs>0</BalanceWithJobs><CurrencyRef
        name="Brazilian Real">BRL</CurrencyRef><PreferredDeliveryMethod>Email</PreferredDeliveryMethod></Customer></QueryResponse></IntuitResponse>
  recorded_at: Mon, 16 Dec 2013 19:51:37 GMT
- request:
    method: get
    uri: https://qb.sbfinance.intuit.com/v3/company/1014843225/query?query=select%20*%20from%20Account%20where%20Name%20=%20'Inventory%20Asset'%20STARTPOSITION%201%20MAXRESULTS%2020
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/xml
      Authorization:
      - OAuth oauth_consumer_key="qyprdcG20NCyjy5jd7tKal9ivdOcbH", oauth_nonce="6j1VTuVNssGNE3QyF6suYYYBlSg38JtkmoeFFqnMBM",
        oauth_signature="UVfXQC9o9EAq8D1f1T8vKgqk3i8%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1387223497", oauth_token="qyprdINz6x1Qccyyj7XjELX7qxFBE9CSTeNLmbPYb7oMoktC",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Qbo-Version:
      - '68.147'
      Intuit-Tid:
      - 20d40b7d-f432-4f49-a474-117a01e80582
      Content-Type:
      - application/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8" standalone="yes"?><IntuitResponse
        xmlns="http://schema.intuit.com/finance/v3" time="2013-12-16T11:51:37.871-08:00"><QueryResponse
        startPosition="1" maxResults="1"><Account domain="QBO" sparse="false"><Id>76</Id><SyncToken>0</SyncToken><MetaData><CreateTime>2013-12-09T21:18:37-08:00</CreateTime><LastUpdatedTime>2013-12-16T11:37:00-08:00</LastUpdatedTime></MetaData><Name>Inventory
        Asset</Name><SubAccount>false</SubAccount><FullyQualifiedName>Inventory Asset</FullyQualifiedName><Active>true</Active><Classification>Asset</Classification><AccountType>Other
        Current Asset</AccountType><AccountSubType>Inventory</AccountSubType><CurrentBalance>1029.50</CurrentBalance><CurrentBalanceWithSubAccounts>1029.50</CurrentBalanceWithSubAccounts><CurrencyRef
        name="Brazilian Real">BRL</CurrencyRef></Account></QueryResponse></IntuitResponse>
  recorded_at: Mon, 16 Dec 2013 19:51:38 GMT
- request:
    method: get
    uri: https://qb.sbfinance.intuit.com/v3/company/1014843225/query?query=select%20*%20from%20Item%20where%20Name%20=%20'SPR-00001'%20STARTPOSITION%201%20MAXRESULTS%2020
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/xml
      Authorization:
      - OAuth oauth_consumer_key="qyprdcG20NCyjy5jd7tKal9ivdOcbH", oauth_nonce="D3SRrQ7WcQuEIOlZFWMgJiYEzVhuYZ8Vk1JhB0Bs",
        oauth_signature="dALN0x8y9%2BpMyEufzAXAjD5DuJY%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1387223498", oauth_token="qyprdINz6x1Qccyyj7XjELX7qxFBE9CSTeNLmbPYb7oMoktC",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Qbo-Version:
      - '68.147'
      Intuit-Tid:
      - 854959f8-4449-45bc-9183-a5986a92ea4d
      Content-Type:
      - application/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8" standalone="yes"?><IntuitResponse
        xmlns="http://schema.intuit.com/finance/v3" time="2013-12-16T11:51:38.928-08:00"><QueryResponse
        startPosition="1" maxResults="1"><Item domain="QBO" sparse="false"><Id>4</Id><SyncToken>0</SyncToken><MetaData><CreateTime>2013-12-12T18:03:28-08:00</CreateTime><LastUpdatedTime>2013-12-12T18:03:28-08:00</LastUpdatedTime></MetaData><Name>SPR-00001</Name><Description>Spree
        Baseball Jersey</Description><Active>true</Active><FullyQualifiedName>SPR-00001</FullyQualifiedName><Taxable>false</Taxable><SalesTaxIncluded>false</SalesTaxIncluded><UnitPrice>19.99</UnitPrice><Type>Service</Type><PurchaseTaxIncluded>false</PurchaseTaxIncluded><PurchaseCost>0</PurchaseCost><TrackQtyOnHand>false</TrackQtyOnHand></Item></QueryResponse></IntuitResponse>
  recorded_at: Mon, 16 Dec 2013 19:51:39 GMT
- request:
    method: get
    uri: https://qb.sbfinance.intuit.com/v3/company/1014843225/query?query=select%20*%20from%20Item%20where%20Name%20=%20'ROR-00004'%20STARTPOSITION%201%20MAXRESULTS%2020
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/xml
      Authorization:
      - OAuth oauth_consumer_key="qyprdcG20NCyjy5jd7tKal9ivdOcbH", oauth_nonce="4isEXQctb2ealRD6jDM9oxD5PMkLcDfgwc8ljTDo",
        oauth_signature="ENhKTz7tVe7JmZGzxfk7rl9r[...]
- request:
    method: get
    uri: https://qb.sbfinance.intuit.com/v3/company/1014843225/query?query=select%20*%20from%20Item%20where%20Name%20=%20'Shipping%20Charges'%20STARTPOSITION%201%20MAXRESULTS%2020
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/xml
      Authorization:
      - OAuth oauth_consumer_key="qyprdcG20NCyjy5jd7tKal9ivdOcbH", oauth_nonce="Jjp9IBxkNvALJ9VT7Qk0IdSqGyUg29hzAC7ofTfc",
        oauth_signature="Slp0AZnhS0o4MOy[...]
[...]
- request:
    method: get
    uri: https://qb.sbfinance.intuit.com/v3/company/1014843225/query?query=select%20*%20from%20Item%20where%20Name%20=%20'State%20Sales%20Tax-NY'%20STARTPOSITION%201%20MAXRESULTS%2020
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/xml
      Authorization:
      - OAuth oauth_consumer_key="qyprdcG20NCyjy5jd7tKal9ivdOcbH", oauth_nonce="WmkvrcsAXYDyx1tKnYPdmgaJAxFXdDSQJ8Krcl0E",
        oauth_signature="eijDnDYYgR6[...]
- request:
    method: post
    uri: https://qb.sbfinance.intuit.com/v3/company/1014843225/salesreceipt
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="utf-8"?>
        <SalesReceipt xmlns="http://schema.intuit.com/finance/v3" sparse="false">
        <DocNumber>R44534534245</DocNumber>
        <TxnDate>2013-12-16 14:51:18 -0300</TxnDate>
        <Line>
        <Description>Spree Baseball Jersey</Description>
        <Amount>39.98</Amount>
        <DetailType>SalesItemLineDetail</DetailType>
        <SalesItemLineDetail>
        <ItemRef>4</ItemRef>
        <UnitPrice>19.99</UnitPrice>
        <Qty>2</Qty>
        </SalesItemLineDetail>
        </Line>
        <Line>
        <Description>Ruby on Rails Baseball Jersey</Description>
        <Amount>59.97</Amount>
        <DetailType>SalesItemLineDetail</DetailType>
        <SalesItemLineDetail>
        <ItemRef>5</ItemRef>
        <UnitPrice>19.99</UnitPrice>
        <Qty>3</Qty>
        </SalesItemLineDetail>
        </Line>
        <Line>
        <Description>Shipping</Description>
        <Amount>5.0</Amount>
        <DetailType>SalesItemLineDetail</DetailType>
        <SalesItemLineDetail>
        <ItemRef>6</ItemRef>
        <UnitPrice>5.0</UnitPrice>
        <Qty>1</Qty>
        </SalesItemLineDetail>
        </Line>
        <Line>
        <Description>Shipping</Description>
        <Amount>5.0</Amount>
        <DetailType>SalesItemLineDetail</DetailType>
        <SalesItemLineDetail>
        <ItemRef>6</ItemRef>
        <UnitPrice>5.0</UnitPrice>
        <Qty>1</Qty>
        </SalesItemLineDetail>
        </Line>
        <Line>
        <Description>North America 5.0</Description>
        <Amount>5.0</Amount>
        <DetailType>SalesItemLineDetail</DetailType>
        <SalesItemLineDetail>
        <ItemRef>7</ItemRef>
        <UnitPrice>5.0</UnitPrice>
        <Qty>1</Qty>
        </SalesItemLineDetail>
        </Line>
        <CustomerRef>5</CustomerRef>
        <BillEmail>
        <Address>spree@example.com</Address>
        </BillEmail>
        <BillAddr>
        <Line1>7735 Old Georgetown Rd</Line1>
        <Line2/>
        <City>Bethesda</City>
        <Country>US</Country>
        <CountrySubDivisionCode>Maryland</CountrySubDivisionCode>
        <PostalCode>20814</PostalCode>
        </BillAddr>
        <ShipAddr>
        <Line1>7735 Old Georgetown Rd</Line1>
        <Line2/>
        <City>Bethesda</City>
        <Country>US</Country>
        <CountrySubDivisionCode>Maryland</CountrySubDivisionCode>
        <PostalCode>20814</PostalCode>
        </ShipAddr>
        <PaymentMethodRef>3</PaymentMethodRef>
        <DepositToAccountRef>76</DepositToAccountRef>
        <TotalAmt>114.95</TotalAmt>
        </SalesReceipt>
    headers:
      Content-Type:
      - application/xml
      Authorization:
      - OAuth oauth_body_hash="Bw%2FJ4WNcPL0pbvzmuLh7zGikgrw%3D", oauth_consumer_key="qyprdcG20NCyjy5jd7tKal9ivdOcbH",
        oauth_nonce="oK9twUvFWpR65NH3hdJnCXfPBbmpwEbG7OVHTO3mo", oauth_signature="ErMJBwY4JkeuOdgLEcBF7x0m2Kg%3D",
        oauth_signature_method="HMAC-SHA1", oauth_timestamp="1387223504", oauth_token="qyprdINz6x1Qccyyj7XjELX7qxFBE9CSTeNLmbPYb7oMoktC",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Qbo-Version:
      - '68.147'
      Intuit-Tid:
      - d6075c3b-cee1-476b-bb7b-34dc638701a9
      Content-Type:
      - application/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8" standalone="yes"?><IntuitResponse
        xmlns="http://schema.intuit.com/finance/v3" time="2013-12-16T11:51:45.883-08:00"><SalesReceipt
        domain="QBO" sparse="false"><Id>22</Id><SyncToken>0</SyncToken><MetaData><CreateTime>2013-12-16T11:51:46-08:00</CreateTime><LastUpdatedTime>2013-12-16T11:51:46-08:00</LastUpdatedTime></MetaData><DocNumber>R44534534245</DocNumber><TxnDate>2013-12-16</TxnDate><CurrencyRef
        name="Brazilian Real">BRL</CurrencyRef><Line><Id>1</Id><LineNum>1</LineNum><Description>Spree
        Baseball Jersey</Description><Amount>39.98</Amount><DetailType>SalesItemLineDetail</DetailType><SalesItemLineDetail><ItemRef
        name="SPR-00001">4</ItemRef><UnitPrice>19.99</UnitPrice><Qty>2</Qty></SalesItemLineDetail></Line><Line><Id>2</Id><LineNum>2</LineNum><Description>Ruby
        on Rails Baseball Jersey</Description><Amount>59.97</Amount><DetailType>SalesItemLineDetail</DetailType><SalesItemLineDetail><ItemRef
        name="ROR-00004">5</ItemRef>[...]
