---
http_interactions:
- request:
    method: get
    uri: https://qb.sbfinance.intuit.com/v3/company/835973000/query?query=select%20*%20from%20Item%20where%20Name%20=%20'ROR-TS'%20STARTPOSITION%201%20MAXRESULTS%2020
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/xml
      Authorization:
      - OAuth oauth_consumer_key="qyprdcG20NCyjy5jd7tKal9ivdOcbH", oauth_nonce="q2J4FmKOHpMjUUXLolw6a9TbenftqZaWXmpkTgJxWB8",
        oauth_signature="VlXo7QCvfWMnrkNJiKZNpHZM7LM%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1386966338", oauth_token="qyprdhjEBfA2BI8sD7fWVPH4wL9esaKrYeWLosiPBir3pa5j",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Qbo-Version:
      - '68.147'
      Intuit-Tid:
      - b334c320-6b42-4732-875a-226d0c44b227
      Content-Type:
      - application/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8" standalone="yes"?><IntuitResponse
        xmlns="http://schema.intuit.com/finance/v3" time="2013-12-13T12:25:39.274-08:00"><QueryResponse
        startPosition="1" maxResults="1"><Item domain="QBO" sparse="false"><Id>10</Id><SyncToken>4</SyncToken><MetaData><CreateTime>2013-12-12T05:52:35-08:00</CreateTime><LastUpdatedTime>2013-12-13T12:16:01-08:00</LastUpdatedTime></MetaData><Name>ROR-TS</Name><Description>Some
        description text for the product.</Description><Active>true</Active><FullyQualifiedName>ROR-TS</FullyQualifiedName><Taxable>false</Taxable><UnitPrice>31</UnitPrice><Type>Service</Type><IncomeAccountRef
        name="Sales of Product Income">4</IncomeAccountRef><PurchaseCost>0</PurchaseCost><ExpenseAccountRef
        name="Cost of Goods Sold">5</ExpenseAccountRef><TrackQtyOnHand>false</TrackQtyOnHand></Item></QueryResponse></IntuitResponse>
  recorded_at: Fri, 13 Dec 2013 20:25:40 GMT
- request:
    method: get
    uri: https://qb.sbfinance.intuit.com/v3/company/835973000/query?query=select%20*%20from%20Account%20where%20Name%20=%20'Not%20to%20be%20found'%20STARTPOSITION%201%20MAXRESULTS%2020
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/xml
      Authorization:
      - OAuth oauth_consumer_key="qyprdcG20NCyjy5jd7tKal9ivdOcbH", oauth_nonce="o3UM4W2n5PmTJhUS3TGD7Hu9XadK734VfTrcXiItDHs",
        oauth_signature="ChxiP4VIk0EyHb4AktoVBlroG9E%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1386966340", oauth_token="qyprdhjEBfA2BI8sD7fWVPH4wL9esaKrYeWLosiPBir3pa5j",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Qbo-Version:
      - '68.147'
      Intuit-Tid:
      - 5ec36645-1285-4f7e-88ae-5c4a127ffeef
      Content-Type:
      - application/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8" standalone="yes"?><IntuitResponse
        xmlns="http://schema.intuit.com/finance/v3" time="2013-12-13T12:25:40.316-08:00"><QueryResponse/></IntuitResponse>
  recorded_at: Fri, 13 Dec 2013 20:25:41 GMT
recorded_with: VCR 2.4.0
