---
http_interactions:
- request:
    method: get
    uri: https://qb.sbfinance.intuit.com/v3/company/835973000/query?query=select%20*%20from%20Account%20where%20Name%20=%20'Sales%20of%20Product%20Income'%20STARTPOSITION%201%20MAXRESULTS%2020
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/xml
      Authorization:
      - OAuth oauth_consumer_key="qyprdcG20NCyjy5jd7tKal9ivdOcbH", oauth_nonce="rxlp5YHB1gLRytIaEo8eOJrxXbfsMj2wUUyeURLo",
        oauth_signature="tyepYns9YFKkNhY3g%2BdJ3t9GZPY%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1387291199", oauth_token="qyprdhjEBfA2BI8sD7fWVPH4wL9esaKrYeWLosiPBir3pa5j",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Qbo-Version:
      - '68.147'
      Intuit-Tid:
      - 82f7b073-073d-42a6-a1d0-c60603a4a786
      Content-Type:
      - application/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8" standalone="yes"?><IntuitResponse
        xmlns="http://schema.intuit.com/finance/v3" time="2013-12-17T06:40:00.924-08:00"><QueryResponse
        startPosition="1" maxResults="1"><Account domain="QBO" sparse="false"><Id>4</Id><SyncToken>0</SyncToken><MetaData><CreateTime>2013-11-15T12:43:10-08:00</CreateTime><LastUpdatedTime>2013-11-15T12:43:10-08:00</LastUpdatedTime></MetaData><Name>Sales
        of Product Income</Name><SubAccount>false</SubAccount><FullyQualifiedName>Sales
        of Product Income</FullyQualifiedName><Active>true</Active><Classification>Revenue</Classification><AccountType>Income</AccountType><AccountSubType>SalesOfProductIncome</AccountSubType><CurrentBalance>0</CurrentBalance><CurrentBalanceWithSubAccounts>0</CurrentBalanceWithSubAccounts><CurrencyRef
        name="United States Dollar">USD</CurrencyRef></Account></QueryResponse></IntuitResponse>
  recorded_at: Tue, 17 Dec 2013 14:40:01 GMT
- request:
    method: get
    uri: https://qb.sbfinance.intuit.com/v3/company/835973000/query?query=select%20*%20from%20Account%20where%20Name%20=%20'Inventory%20Asset'%20STARTPOSITION%201%20MAXRESULTS%2020
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/xml
      Authorization:
      - OAuth oauth_consumer_key="qyprdcG20NCyjy5jd7tKal9ivdOcbH", oauth_nonce="ppDzKxVVP6emm1J0uAu1lAMOXABGH0x31RJQapPORA",
        oauth_signature="rJp9LK1lcyLf[...]
- request:
    method: get
    uri: https://qb.sbfinance.intuit.com/v3/company/835973000/query?query=select%20*%20from%20Account%20where%20Name%20=%20'Cost%20of%20Goods%20Sold'%20STARTPOSITION%201%20MAXRESULTS%2020
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/xml
      Authorization:
      - OAuth oauth_consumer_key="qyprdcG20NCyjy5jd7tKal9ivdOcbH", oauth_nonce="EFyF94ZDvUOo6CE9uO4Do2Sx2RVvaXO02AcQ0DBvU",
        oauth_signature="d2j2lP[...]
- request:
    method: get
    uri: https://qb.sbfinance.intuit.com/v3/company/835973000/query?query=select%20*%20from%20Item%20where%20Name%20=%20'nine-inch-nails-cd'%20STARTPOSITION%201%20MAXRESULTS%2020
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/xml
      Authorization:
      - OAuth oauth_consumer_key="qyprdcG20NCyjy5jd7tKal9ivdOcbH", oauth_nonce="4amdPkfWW02RDRXcBw8I9QXtrw1CS2ymjB9RxaTv6A",
        oauth_signature="sImNK4g3qIdRchLtLOcv9ZJCfDs%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1387291203", oauth_token="qyprdhjEBfA2BI8sD7fWVPH4wL9esaKrYeWLosiPBir3pa5j",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Qbo-Version:
      - '68.147'
      Intuit-Tid:
      - 5b3f1742-9dcb-45c8-8dc4-0d0bcc6706f7
      Content-Type:
      - application/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8" standalone="yes"?><IntuitResponse
        xmlns="http://schema.intuit.com/finance/v3" time="2013-12-17T06:40:04.419-08:00"><QueryResponse/></IntuitResponse>
  recorded_at: Tue, 17 Dec 2013 14:40:04 GMT
- request:
    method: post
    uri: https://qb.sbfinance.intuit.com/v3/company/835973000/item
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="utf-8"?>
        <Item xmlns="http://schema.intuit.com/finance/v3" sparse="false">
        <Name>nine-inch-nails-cd</Name>
        <Description>Some description text for the product.</Description>
        <UnitPrice>31</UnitPrice>
        <Type>Inventory</Type>
        <AssetAccountRef>6</AssetAccountRef>
        <IncomeAccountRef>4</IncomeAccountRef>
        <ExpenseAccountRef>5</ExpenseAccountRef>
        </Item>
    headers:
      Content-Type:
      - application/xml
      Authorization:
      - OAuth oauth_body_hash="3wGYz8yBqEoR42xBHsZMw01fKUQ%3D", oauth_consumer_key="qyprdcG20NCyjy5jd7tKal9ivdOcbH",
        oauth_nonce="ClReSPABDpOqDcozSfF4QMQNcR4xFQi5aSTtc3puzQ", oauth_signature="fWBevIpvK3gJkTsQqE9C%2FLvUW1E%3D",
        oauth_signature_method="HMAC-SHA1", oauth_timestamp="1387291204", oauth_token="qyprdhjEBfA2BI8sD7fWVPH4wL9esaKrYeWLosiPBir3pa5j",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Qbo-Version:
      - '68.147'
      Intuit-Tid:
      - 419573c5-adc0-49bd-a2f8-dc25d9aae30a
      Content-Type:
      - application/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8" standalone="yes"?><IntuitResponse
        xmlns="http://schema.intuit.com/finance/v3" time="2013-12-17T06:40:05.764-08:00"><Item
        domain="QBO" sparse="false"><Id>41</Id><SyncToken>0</SyncToken><MetaData><CreateTime>2013-12-17T06:40:05-08:00</CreateTime><LastUpdatedTime>2013-12-17T06:40:05-08:00</LastUpdatedTime></MetaData><Name>nine-inch-nails-cd</Name><Description>Some
        description text for the product.</Description><Active>true</Active><Taxable>false</Taxable><UnitPrice>31</UnitPrice><Type>Service</Type><IncomeAccountRef
        name="Sales of Product Income">4</IncomeAccountRef><PurchaseCost>0</PurchaseCost><ExpenseAccountRef
        name="Cost of Goods Sold">5</ExpenseAccountRef><TrackQtyOnHand>false</TrackQtyOnHand></Item></IntuitResponse>
  recorded_at: Tue, 17 Dec 2013 14:40:06 GMT
recorded_with: VCR 2.4.0
