---
http_interactions:
- request:
    method: get
    uri: https://qb.sbfinance.intuit.com/v3/company/835973000/query?query=select%20*%20from%20Item%20where%20Name%20=%20'ROR-TS'%20STARTPOSITION%201%20MAXRESULTS%2020
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/xml
      Authorization:
      - OAuth oauth_consumer_key="qyprdcG20NCyjy5jd7tKal9ivdOcbH", oauth_nonce="IZ3b1Y7tqTr9q1x2zm2khUibhYklvya3STHT61eeJQ",
        oauth_signature="SJiBeYzYcyNvhKgxZzWBdtvN5no%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1386964914", oauth_token="qyprdhjEBfA2BI8sD7fWVPH4wL9esaKrYeWLosiPBir3pa5j",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Qbo-Version:
      - '68.147'
      Intuit-Tid:
      - d20df2e8-79b1-447c-a237-313d2c6afb42
      Content-Type:
      - application/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8" standalone="yes"?><IntuitResponse
        xmlns="http://schema.intuit.com/finance/v3" time="2013-12-13T12:01:55.597-08:00"><QueryResponse
        startPosition="1" maxResults="1"><Item domain="QBO" sparse="false"><Id>10</Id><SyncToken>2</SyncToken><MetaData><CreateTime>2013-12-12T05:52:35-08:00</CreateTime><LastUpdatedTime>2013-12-13T05:19:38-08:00</LastUpdatedTime></MetaData><Name>ROR-TS</Name><Description>...</Description><Active>true</Active><FullyQualifiedName>ROR-TS</FullyQualifiedName><Taxable>false</Taxable><UnitPrice>31</UnitPrice><Type>Service</Type><IncomeAccountRef
        name="Inventory Asset">6</IncomeAccountRef><PurchaseCost>0</PurchaseCost><TrackQtyOnHand>false</TrackQtyOnHand></Item></QueryResponse></IntuitResponse>
  recorded_at: Fri, 13 Dec 2013 20:01:56 GMT
- request:
    method: get
    uri: https://qb.sbfinance.intuit.com/v3/company/835973000/query?query=select%20*%20from%20Account%20where%20Name%20=%20'Sales%20of%20Product%20Income'%20STARTPOSITION%201%20MAXRESULTS%2020
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/xml
      Authorization:
      - OAuth oauth_consumer_key="qyprdcG20NCyjy5jd7tKal9ivdOcbH", oauth_nonce="M2zJUF34TJXu3mzyFRTNOKEnmz9SqXAxPtojEYbLB4s",
        oauth_signature="hC%2F3avJOC2dkGFLQnutVTy%2BS23c%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1386964916", oauth_token="qyprdhjEBfA2BI8sD7fWVPH4wL9esaKrYeWLosiPBir3pa5j",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Qbo-Version:
      - '68.147'
      Intuit-Tid:
      - 9291c0ce-55ba-4564-b1db-9c900a4eb991
      Content-Type:
      - application/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8" standalone="yes"?><IntuitResponse
        xmlns="http://schema.intuit.com/finance/v3" time="2013-12-13T12:01:56.773-08:00"><QueryResponse
        startPosition="1" maxResults="1"><Account domain="QBO" sparse="false"><Id>4</Id><SyncToken>0</SyncToken><MetaData><CreateTime>2013-11-15T12:43:10-08:00</CreateTime><LastUpdatedTime>2013-11-15T12:43:10-08:00</LastUpdatedTime></MetaData><Name>Sales
        of Product Income</Name><SubAccount>false</SubAccount><FullyQualifiedName>Sales
        of Product Income</FullyQualifiedName><Active>true</Active><Classification>Revenue</Classification><AccountType>Income</AccountType><AccountSubType>SalesOfProductIncome</AccountSubType><CurrentBalance>0</CurrentBalance><CurrentBalanceWithSubAccounts>0</CurrentBalanceWithSubAccounts><CurrencyRef
        name="United States Dollar">USD</CurrencyRef></Account></QueryResponse></IntuitResponse>
  recorded_at: Fri, 13 Dec 2013 20:01:57 GMT
- request:
    method: get
    uri: https://qb.sbfinance.intuit.com/v3/company/835973000/query?query=select%20*%20from%20Account%20where%20Name%20=%20'Inventory%20Asset'%20STARTPOSITION%201%20MAXRESULTS%2020
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/xml
      Authorization:
      - OAuth oauth_consumer_key="qyprdcG20NCyjy5jd7tKal9ivdOcbH", oauth_nonce="UU3xyX77Mt7POxa3pwEjiOqQw4rkSNnDewlEEJHNM",
        oauth_signature="kS8x1XGJ5Kl%2[...]
- request:
    method: get
    uri: https://qb.sbfinance.intuit.com/v3/company/835973000/query?query=select%20*%20from%20Account%20where%20Name%20=%20'Cost%20of%20Goods%20Sold'%20STARTPOSITION%201%20MAXRESULTS%2020
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/xml
      Authorization:
      - OAuth oauth_consumer_key="qyprdcG20NCyjy5jd7tKal9ivdOcbH", oauth_nonce="p7y1d7cqvw4hPNVNbncMfISqEqra3B8svk1yj0H64",
        oauth_signature="JWZ%2B[...]
- request:
    method: post
    uri: https://qb.sbfinance.intuit.com/v3/company/835973000/item
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="utf-8"?>
        <Item xmlns="http://schema.intuit.com/finance/v3" sparse="false">
        <Id>10</Id>
        <SyncToken>2</SyncToken>
        <MetaData>
        <CreateTime>2013-12-12T11:52:35-0200</CreateTime>
        <LastUpdatedTime>2013-12-13T11:19:38-0200</LastUpdatedTime>
        </MetaData>
        <Name>ROR-TS</Name>
        <Description>...</Description>
        <Active>true</Active>
        <SubItem>false</SubItem>
        <UnitPrice>31</UnitPrice>
        <Type>Inventory</Type>
        <Taxable>false</Taxable>
        <AssetAccountRef>6</AssetAccountRef>
        <IncomeAccountRef>4</IncomeAccountRef>
        <PurchaseCost>0.0</PurchaseCost>
        <ExpenseAccountRef>5</ExpenseAccountRef>
        <TrackQtyOnHand>false</TrackQtyOnHand>
        </Item>
    headers:
      Content-Type:
      - application/xml
      Authorization:
      - OAuth oauth_body_hash="sFuVVEUrLkUcRRSAfgQqLnAe8wI%3D", oauth_consumer_key="qyprdcG20NCyjy5jd7tKal9ivdOcbH",
        oauth_nonce="8kepb3zyREX0uVafirw0npTdBR7ycLr5urP3FAYCAg", oauth_signature="9JH%2Bl%2F1wVl57wsTlsxFxqu5v9N0%3D",
        oauth_signature_method="HMAC-SHA1", oauth_timestamp="1386964920", oauth_token="qyprdhjEBfA2B[...]
- request:
    method: get
    uri: https://qb.sbfinance.intuit.com/v3/company/835973000/query?query=select%20*%20from%20Item%20where%20Name%20=%20'ROR-TS-v-1'%20STARTPOSITION%201%20MAXRESULTS%2020
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/xml
      Authorization:
      - OAuth oauth_consumer_key="qyprdcG20NCyjy5jd7tKal9ivdOcbH", oauth_nonce="MvN7iN866tJpzewt7ieAu3yNgeUN85gtyebcUvh8",
        oauth_signature="eCU6My2rHk1kpVagADKHkFF897w%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1386964921", oauth_token="qyprdhjEBfA2BI8sD7fWVPH4wL9esaKrYeWLosiPBir3pa5j",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Qbo-Version:
      - '68.147'
      Intuit-Tid:
      - dead5456-d42c-46d0-a71e-393008cf752b
      Content-Type:
      - application/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8" standalone="yes"?><IntuitResponse
        xmlns="http://schema.intuit.com/finance/v3" time="2013-12-13T12:02:02.018-08:00"><QueryResponse
        startPosition="1" maxResults="1"><Item domain="QBO" sparse="false"><Id>20</Id><SyncToken>0</SyncToken><MetaData><CreateTime>2013-12-13T05:19:34-08:00</CreateTime><LastUpdatedTime>2013-12-13T05:19:34-08:00</LastUpdatedTime></MetaData><Name>ROR-TS-v-1</Name><Active>true</Active><SubItem>true</SubItem><ParentRef
        name="ParentRef">10</ParentRef><Level>1</Level><FullyQualifiedName>ROR-TS:ROR-TS-v-1</FullyQualifiedName><Taxable>false</Taxable><UnitPrice>35</UnitPrice><Type>Service</Type><IncomeAccountRef
        name="Inventory Asset">6</IncomeAccountRef><PurchaseCost>0</PurchaseCost><TrackQtyOnHand>false</TrackQtyOnHand></Item></QueryResponse></IntuitResponse>
  recorded_at: Fri, 13 Dec 2013 20:02:02 GMT
[...]
- request:
    method: post
    uri: https://qb.sbfinance.intuit.com/v3/company/835973000/item
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="utf-8"?>
        <Item xmlns="http://schema.intuit.com/finance/v3" sparse="false">
        <Id>20</Id>
        <SyncToken>0</SyncToken>
        <MetaData>
        <CreateTime>2013-12-13T11:19:34-0200</CreateTime>
        <LastUpdatedTime>2013-12-13T11:19:34-0200</LastUpdatedTime>
        </MetaData>
        <Name>ROR-TS-v-1</Name>
        <Active>true</Active>
        <ParentRef>10</ParentRef>
        <SubItem>true</SubItem>
        <UnitPrice>35</UnitPrice>
        <Type>Inventory</Type>
        <Taxable>false</Taxable>
        <AssetAccountRef>6</AssetAccountRef>
        <IncomeAccountRef>4</IncomeAccountRef>
        <PurchaseCost>0.0</PurchaseCost>
        <ExpenseAccountRef>5</ExpenseAccountRef>
        <TrackQtyOnHand>false</TrackQtyOnHand>
        <Level>1</Level>
        </Item>
    headers:
      Content-Type:
      - application/xml
      Authorization:
      -[...]
[...]
