---
http_interactions:
- request:
    method: get
    uri: https://qb.sbfinance.intuit.com/v3/company/835973000/query?query=select%20*%20from%20Item%20where%20Name%20=%20'family-guy'%20STARTPOSITION%201%20MAXRESULTS%2020
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/xml
      Authorization:
      - OAuth oauth_consumer_key="qyprdcG20NCyjy5jd7tKal9ivdOcbH", oauth_nonce="mC4tKnjpHUDnWlx9nzDRh72zI5LCVJSDQzLbiebzAOA",
        oauth_signature="02lbyH4my3XsvKkm6ZIjmui6nnc%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1386964936", oauth_token="qyprdhjEBfA2BI8sD7fWVPH4wL9esaKrYeWLosiPBir3pa5j",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Qbo-Version:
      - '68.147'
      Intuit-Tid:
      - 0ad38f8b-381a-4d5d-b331-4ec8c447d351
      Content-Type:
      - application/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8" standalone="yes"?><IntuitResponse
        xmlns="http://schema.intuit.com/finance/v3" time="2013-12-13T12:02:17.157-08:00"><QueryResponse/></IntuitResponse>
  recorded_at: Fri, 13 Dec 2013 20:02:17 GMT
- request:
    method: get
    uri: https://qb.sbfinance.intuit.com/v3/company/835973000/query?query=select%20*%20from%20Account%20where%20Name%20=%20'Sales%20of%20Product%20Income'%20STARTPOSITION%201%20MAXRESULTS%2020
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/xml
      Authorization:
      - OAuth oauth_consumer_key="qyprdcG20NCyjy5jd7tKal9ivdOcbH", oauth_nonce="5CazgkFIxE6w0aGZW9DplUPe8u0NPbiUw0UGczhrg",
        oauth_signature="GjGKve6RaGNrUDj3MW3Ps66vqpY%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1386964937", oauth_token="qyprdhjEBfA2BI8sD7fWVPH4wL9esaKrYeWLosiPBir3pa5j",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Qbo-Version:
      - '68.147'
      Intuit-Tid:
      - b7c3c721-8458-4b1d-91d0-6e2a2a5ddb6d
      Content-Type:
      - application/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8" standalone="yes"?><IntuitResponse
        xmlns="http://schema.intuit.com/finance/v3" time="2013-12-13T12:02:18.442-08:00"><QueryResponse
        startPosition="1" maxResults="1"><Account domain="QBO" sparse="false"><Id>4</Id><SyncToken>0</SyncToken><MetaData><CreateTime>2013-11-15T12:43:10-08:00</CreateTime><LastUpdatedTime>2013-11-15T12:43:10-08:00</LastUpdatedTime></MetaData><Name>Sales
        of Product Income</Name><SubAccount>false</SubAccount><FullyQualifiedName>Sales
        of Product Income</FullyQualifiedName><Active>true</Active><Classification>Revenue</Classification><AccountType>Income</AccountType><AccountSubType>SalesOfProductIncome</AccountSubType><CurrentBalance>0</CurrentBalance><CurrentBalanceWithSubAccounts>0</CurrentBalanceWithSubAccounts><CurrencyRef
        name="United States Dollar">USD</CurrencyRef></Account></QueryResponse></IntuitResponse>
  recorded_at: Fri, 13 Dec 2013 20:02:19 GMT
- request:
    method: get
    uri: https://qb.sbfinance.intuit.com/v3/company/835973000/query?query=select%20*%20from%20Account%20where%20Name%20=%20'Inventory%20Asset'%20STARTPOSITION%201%20MAXRESULTS%2020
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/xml
      Authorization:
      - OAuth oauth_consumer_key="qyprdcG20NCyjy5jd7tKal9ivdOcbH", oauth_nonce="w2GiBAJIfwl7p9HkfTkwW36DiGTaBJLdJoq8V6pxM",
        oauth_signature="y7BQzLdN2oP1t[...]
- request:
    method: get
    uri: https://qb.sbfinance.intuit.com/v3/company/835973000/query?query=select%20*%20from%20Account%20where%20Name%20=%20'Cost%20of%20Goods%20Sold'%20STARTPOSITION%201%20MAXRESULTS%2020
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/xml
      Authorization:
      - OAuth oauth_consumer_key="qyprdcG20NCyjy5jd7tKal9ivdOcbH", oauth_nonce="9Cj3moKUEomTU54Kc0qVszdG8A7tWHltqePyVGJOV4",
        oauth_signature="wJTFZ[...]
- request:
    method: post
    uri: https://qb.sbfinance.intuit.com/v3/company/835973000/item
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="utf-8"?>
        <Item xmlns="http://schema.intuit.com/finance/v3" sparse="false">
        <Name>family-guy</Name>
        <Description>...</Description>
        <SubItem>false</SubItem>
        <UnitPrice>31</UnitPrice>
        <Type>Inventory</Type>
        <AssetAccountRef>6</AssetAccountRef>
        <IncomeAccountRef>4</IncomeAccountRef>
        <ExpenseAccountRef>5</ExpenseAccountRef>
        </Item>
    headers:
      Content-Type:
      - application/xml
      Authorization:
      - OAuth oauth_body_hash="wZeuNclg00EgNUIKXv5kCpTK%2Bx8%3D", oauth_consumer_key="qyprdcG20NCyjy5jd7tKal9ivdOcbH",
        oauth_nonce="Yzueu7H38Z77ydB47NjKYpN33iWgODdcUtku4VeSzc", oauth_signature="3%2Br7pEod9xzWxFu%2BArw5iUquhyQ%3D",
        oauth_signature_method="HMAC-SHA1", oauth_timestamp="1386964944", oauth_token="qyprdhjEBfA2BI8sD7fWVPH4wL9esaKrYeWLosiPBir3pa5j",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Qbo-Version:
      - '68.147'
      Intuit-Tid:
      - 0f7850b6-5dfe-4dc9-9052-e22584118909
      Content-Type:
      - application/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8" standalone="yes"?><IntuitResponse
        xmlns="http://schema.intuit.com/finance/v3" time="2013-12-13T12:02:25.311-08:00"><Item
        domain="QBO" sparse="false"><Id>22</Id><SyncToken>0</SyncToken><MetaData><CreateTime>2013-12-13T12:02:25-08:00</CreateTime><LastUpdatedTime>2013-12-13T12:02:25-08:00</LastUpdatedTime></MetaData><Name>family-guy</Name><Description>...</Description><Active>true</Active><Taxable>false</Taxable><UnitPrice>31</UnitPrice><Type>Service</Type><IncomeAccountRef
        name="Sales of Product Income">4</IncomeAccountRef><PurchaseCost>0</PurchaseCost><ExpenseAccountRef
        name="Cost of Goods Sold">5</ExpenseAccountRef><TrackQtyOnHand>false</TrackQtyOnHand></Item></IntuitResponse>
  recorded_at: Fri, 13 Dec 2013 20:02:26 GMT
- request:
    method: get
    uri: https://qb.sbfinance.intuit.com/v3/company/835973000/query?query=select%20*%20from%20Item%20where%20Name%20=%20'family-guy-v-1'%20STARTPOSITION%201%20MAXRESULTS%2020
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/xml
      Authorization:
      - OAuth oauth_consumer_key="qyprdcG20NCyjy5jd7tKal9ivdOcbH", oauth_nonce="Pf7si9veOvDK7plZlpSGoHQU33mU3ZV8Ylu26uUAI",
        oauth_signature="fnXJNQh6nyjy5rMEtEOCq4hyojE%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1386964946", oauth_token="qyprdhjEBfA2BI8sD7fWVPH4wL9esaKrYeWLosiPBir3pa5j",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Qbo-Version:
      - '68.147'
      Intuit-Tid:
      - 6f19cb1a-bcf2-4cb8-b944-59f9a8fce95c
      Content-Type:
      - application/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8" standalone="yes"?><IntuitResponse
        xmlns="http://schema.intuit.com/finance/v3" time="2013-12-13T12:02:26.700-08:00"><QueryResponse/></IntuitResponse>
  recorded_at: Fri, 13 Dec 2013 20:02:27 GMT
[...]
- request:
    method: post
    uri: https://qb.sbfinance.intuit.com/v3/company/835973000/item
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="utf-8"?>
        <Item xmlns="http://schema.intuit.com/finance/v3" sparse="false">
        <Name>family-guy-v-1</Name>
        <ParentRef>22</ParentRef>
        <SubItem>true</SubItem>
        <UnitPrice>35</UnitPrice>
        <Type>Inventory</Type>
        <AssetAccountRef>6</AssetAccountRef>
        <IncomeAccountRef>4</IncomeAccountRef>
        <ExpenseAccountRef>5</ExpenseAccountRef>
        </Item>
    headers:
      Content-Type:
      - application/xml
      Authorization:
      - OAuth oauth_body_hash="GqnMOtw4n9F7B4Q2sC1SNiwQJbY%3D", oauth_consumer_key="qyprdcG20NCyjy5jd7tKal9ivdOcbH",
        oauth_nonce="ag75GAVDP8zQb6d[...]
[...]
