---
http_interactions:
- request:
    method: get
    uri: https://qb.sbfinance.intuit.com/v3/company/835973000/query?query=select%20*%20from%20Item%20where%20Name%20=%20'ROR-TS'%20STARTPOSITION%201%20MAXRESULTS%2020
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/xml
      Authorization:
      - OAuth oauth_consumer_key="qyprdcG20NCyjy5jd7tKal9ivdOcbH", oauth_nonce="E3J3QrzBrCnClXOKe5n0bwZ7lUsaK2GSePiAWJk0NWE",
        oauth_signature="f%2BKcGOEG1mAl%2Fcs18%2B7AMAUQrfs%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1386858640", oauth_token="qyprdhjEBfA2BI8sD7fWVPH4wL9esaKrYeWLosiPBir3pa5j",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Qbo-Version:
      - '68.147'
      Intuit-Tid:
      - 9b85df30-a8b4-48af-959c-a86e0e667d4a
      Content-Type:
      - application/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8" standalone="yes"?><IntuitResponse
        xmlns="http://schema.intuit.com/finance/v3" time="2013-12-12T06:30:41.661-08:00"><QueryResponse
        startPosition="1" maxResults="1"><Item domain="QBO" sparse="false"><Id>10</Id><SyncToken>1</SyncToken><MetaData><CreateTime>2013-12-12T05:52:35-08:00</CreateTime><LastUpdatedTime>2013-12-12T05:52:48-08:00</LastUpdatedTime></MetaData><Name>ROR-TS</Name><Active>true</Active><FullyQualifiedName>ROR-TS</FullyQualifiedName><Taxable>false</Taxable><UnitPrice>31</UnitPrice><Type>Service</Type><IncomeAccountRef
        name="Inventory Asset">6</IncomeAccountRef><PurchaseCost>0</PurchaseCost><TrackQtyOnHand>false</TrackQtyOnHand></Item></QueryResponse></IntuitResponse>
  recorded_at: Thu, 12 Dec 2013 14:30:41 GMT
- request:
    method: post
    uri: https://qb.sbfinance.intuit.com/v3/company/835973000/item
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="utf-8"?>
        <Item xmlns="http://schema.intuit.com/finance/v3" sparse="false">
        <Id>10</Id>
        <SyncToken>1</SyncToken>
        <MetaData>
        <CreateTime>2013-12-12T11:52:35-0200</CreateTime>
        <LastUpdatedTime>2013-12-12T11:52:48-0200</LastUpdatedTime>
        </MetaData>
        <Name>ROR-TS</Name>
        <Active>true</Active>
        <UnitPrice>31</UnitPrice>
        <Type>Service</Type>
        <Taxable>false</Taxable>
        <IncomeAccountRef>6</IncomeAccountRef>
        <PurchaseCost>0.0</PurchaseCost>
        <TrackQtyOnHand>false</TrackQtyOnHand>
        </Item>
    headers:
      Content-Type:
      - application/xml
      Authorization:
      - OAuth oauth_body_hash="2%2BBTILcq7TZhhkVdBQ3SU4BwkgQ%3D", oauth_consumer_key="qyprdcG20NCyjy5jd7tKal9ivdOcbH",
        oauth_nonce="W1jPY1RHwlHgssut5B0ZU7ABX8ukjqGMl1yheojtM", oauth_signature="N7EtGnl8IsE1M8Xzl6bSeKeLGzg%3D",
        oauth_signature_method="HMAC-SHA1", oauth_timestamp="13[...]
