---
http_interactions:
- request:
    method: get
    uri: https://qb.sbfinance.intuit.com/v3/company/835973000/query?query=select%20*%20from%20Item%20where%20Name%20=%20'T-SHIRT-PUGS-RULE'%20STARTPOSITION%201%20MAXRESULTS%2020
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/xml
      Authorization:
      - OAuth oauth_consumer_key="qyprdcG20NCyjy5jd7tKal9ivdOcbH", oauth_nonce="lcoDRp6FPworLOjSitYCa1U0b8hyAlXm0HwVqANUI0",
        oauth_signature="5dGvtg%2BPIaKZfkrQ5KbQeFUuCL8%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1386854970", oauth_token="qyprdhjEBfA2BI8sD7fWVPH4wL9esaKrYeWLosiPBir3pa5j",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Qbo-Version:
      - '68.147'
      Intuit-Tid:
      - 60b33d10-afa9-442c-b7d9-2cffe28ca9ec
      Content-Type:
      - application/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8" standalone="yes"?><IntuitResponse
        xmlns="http://schema.intuit.com/finance/v3" time="2013-12-12T05:29:32.757-08:00"><QueryResponse
        startPosition="1" maxResults="1"><Item domain="QBO" sparse="false"><Id>7</Id><SyncToken>4</SyncToken><MetaData><CreateTime>2013-12-09T12:16:19-08:00</CreateTime><LastUpdatedTime>2013-12-12T05:14:25-08:00</LastUpdatedTime></MetaData><Name>T-SHIRT-PUGS-RULE</Name><Description>Pug
        life chose me.</Description><Active>true</Active><FullyQualifiedName>T-SHIRT-PUGS-RULE</FullyQualifiedName><Taxable>false</Taxable><UnitPrice>19.9</UnitPrice><Type>Service</Type><IncomeAccountRef
        name="Inventory Asset">6</IncomeAccountRef><PurchaseCost>0</PurchaseCost><TrackQtyOnHand>false</TrackQtyOnHand></Item></QueryResponse></IntuitResponse>
  recorded_at: Thu, 12 Dec 2013 13:29:32 GMT
- request:
    method: post
    uri: https://qb.sbfinance.intuit.com/v3/company/835973000/item
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="utf-8"?>
        <Item xmlns="http://schema.intuit.com/finance/v3" sparse="false">
        <Id>7</Id>
        <SyncToken>4</SyncToken>
        <MetaData>
        <CreateTime>2013-12-09T18:16:19-0200</CreateTime>
        <LastUpdatedTime>2013-12-12T11:14:25-0200</LastUpdatedTime>
        </MetaData>
        <Name>T-SHIRT-PUGS-RULE</Name>
        <Description>new description</Description>
        <Active>true</Active>
        <UnitPrice>19.9</UnitPrice>
        <Type>Service</Type>
        <Taxable>false</Taxable>
        <IncomeAccountRef>6</IncomeAccountRef>
        <PurchaseCost>0.0</PurchaseCost>
        <TrackQtyOnHand>false</TrackQtyOnHand>
        </Item>
    headers:
      Content-Type:
      - application/xml
      Authorization:
      - OAuth oauth_body_hash="lz1ogl2B6CxLBJLKYVIurpeDwts%3D", oauth_consumer_key="qyprdcG20NCyjy5jd7tKal9ivdOcbH",
        oauth_nonce="l23jDiWktAU7zvdajKrLSvZJ4qzAUhEOVJzFXdlkw", oauth_signature="8lK0R8F5zw61a5ala0aK4gKTLpA%3D",
        oauth_signature_method="HMAC-SHA1", oauth_timestamp="1386[...]
