---
http_interactions:
- request:
    method: get
    uri: https://quickbooks.api.intuit.com/v3/company/<REALM>/query?query=SELECT%20*%20FROM%20PurchaseOrder%20WHERE%20DocNumber%20=%20%27SYS-4%27%20STARTPOSITION%201%20MAXRESULTS%2020
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/xml
      Authorization:
      - OAuth oauth_consumer_key="oauth_consumer_key", oauth_nonce="RYaSilaMubfEMJNqHgcwQezChMtjtiDHKu4CMxojZ4",
        oauth_signature="eetqaqrgmdCyiZ330ZrUzKfOVFY%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1564496986", oauth_token="<TOKEN>", oauth_version="1.0"
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - text/xml
      Intuit-Tid:
      - 8059b801-208b-4c17-9d54-53b6043aa29e
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
        <IntuitResponse time="2019-07-30T07:29:46.999-07:00" xmlns="http://schema.intuit.com/finance/v3">
            <Fault type="AUTHENTICATION">
                <Error code="3200">
                    <Message>message=ApplicationAuthenticationFailed; errorCode=003200; statusCode=401</Message>
                </Error>
            </Fault>
        </IntuitResponse>
  recorded_at: Tue, 30 Jul 2019 14:29:47 GMT
recorded_with: VCR 4.0.0
